<cfoutput>

    <!--- <cfset data = {}>
    <cfset data.today = rc.qry_sets/>
    <cfset data.yesterday = rc.qry_yesterday/>
    <cfset data.previous1 = rc.qry_previous1/>
    <cfset data.previous2 = rc.qry_previous2/>
    <cfset data.upcoming = rc.qry_ComingSoon/>

    <cfwddx action="cfml2wddx" input="#data#" output="packet">

    <!--- file to store zip --->
    <cfset zfile = expandPath("/views/members/out.zip")>

    <!--- Now zip this baby up --->
    <cfzip action="zip" file="#zfile#" overwrite="true">
        <cfzipparam content="#packet#" entrypath="data.packet">
    </cfzip> --->

    <cfif cgi.http_host eq "ot:8888" or cgi.http_host eq "onlytase:8888">
        <cffile action="read" charset="utf-8" file="/views/members/data.packet" variable="input">
        <cfwddx action="wddx2cfml" input="#input#" output="packet">


        <cfset rc.qry_sets = packet.today >
        <cfset rc.qry_yesterday = packet.yesterday >
        <cfset rc.qry_previous1 = packet.previous1 >
        <cfset rc.qry_previous2 = packet.previous2 >
        <cfset rc.qry_ComingSoon = packet.upcoming >
    </cfif>
    
    #view('/members/homepages/todayrelease')#    
    #view('members/homepages/previousrelease', {data: rc.qry_yesterday, title: "YESTERDAY'S RELEASES"})#
    #view('members/homepages/previousrelease', {data: rc.qry_previous1, title: "PREVIOUS RELEASES"})#
    #view('members/homepages/previousrelease', {data: rc.qry_previous2, title: "PREVIOUS RELEASES"})#
    #view('members/homepages/upcomingrelease')#

    <div class="row clearfix desktop" style="text-align: center;background-color:##fff">
        <cfif rc.bol_allsites_member EQ "0">
        <!--- show only if user is only a OT user --->
            <script type="text/javascript" language="Javascript" src="/assets/js/banner/ot_banners.js"></script>
        <cfelse>
         <!--- show only if user is a OAS user --->
            <script type="text/javascript" language="Javascript" src="/assets/js/banner/oas_banners.js"></script>
        </cfif>
    </div>
</cfoutput>