.blue{
	color:#1D9DBD;
}

.pink{
	color:#EE008E;
}

.purple{
	color:#B66EDC;
}

.green{
	color:#25C079;
}

.yellow{
	color:#F1B022;
}

.no-border{
	border: none !important;
}

.release-pic > img{
	padding: 20px 0px;
	min-height: 269px;
}

.padding-bottom-10{
	padding-bottom: 10px;
}

.margin-top-10{
	margin-top: 10px;
}

.background-black-opacity{
	background-color: rgba(0, 0, 0, 0.7);
}

.background-black{
	background-color: black;
}

.color-white{
	color: white;
}

.border-black{
	border-color: black;
}

.no-padding-border-thumbnail{
	border: none;
	padding: 0px;
	background: none;
}

.carousel-control.right{
	background-image: none;
	right: -120px;
}

.carousel-control.left{
	background-image: none;
}

.carousel-control{
	top: 55px;
}

.title-font {
	font-family: bebas;
	font-weight: normal;
}

.border-purple-thumbnail{
	background: none repeat scroll 0 0 #662E91;
	padding:0px;
	border: 5px solid #662E91;
}

.border-bottom-purple{
	border-bottom: 15px solid #662E91;
}

.title-tab{
	word-spacing: 4px;
	font-size: 26px;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 5px;
}

.tab-header{
	font-family: bebas;
	word-spacing: 4px;
	font-weight: bold;
}

.border-nav-tabs li{
	border-bottom: 1px solid white;
}

.border-nav-tabs li.active > a,
.border-nav-tabs li.active > a:focus,
.border-nav-tabs li.active > a:hover{
	border-bottom: none;
}

.today-release .carousel-indicators{
	color: #a8a8a8;
	bottom: -54px;
}

.today-release .carousel-indicators li{
	text-indent: 0px;
	border-radius: 0px;
	height: 31px;
	width: 17px;
	border:none;
	font-size: 17px;
	background-color: none;
}


.today-release .background-pink .active{
	color:white;
	background-color: #EE008E;
}

.today-release .carousel-indicators span{
	font-size: 17px;
}

.fullwidth-carousel .carousel-control{
	top: 200px;
	width: 0;
}

.fullwidth-carousel .carousel-control .left{
	left: -50px;
}

.fullwidth-carousel .carousel-control .fa-angle-left.fa-2x{	
	padding-left: 5px;
	padding-right: 8px;
}

.fullwidth-carousel .carousel-control.right{
	background-image: none;
	right: 29px;
}

.background-white{
	background-color: white;
}

.color-black{
	color: black;
}

.border-white{
	border-color: white;
}

.yesterday-release{
	border-bottom: thick solid #1D9DBD;
}

.yesterday-release .left{
	color: #1D9DBD;
}

.today-release .background-blue .active{
	color:white;
	background-color: #1D9DBD;
}

.model-info-blue{
	color: #1D9DBD;
}

.btn-blue-view {
    background: url("/assets/img/btn_Blue.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    font-family: bebas;
    font-size: 19px;
    height: 49px;
    vertical-align: bottom;
    width: 172px;
}

.float-img{
	position: absolute;
	z-index: 15;
	width: 300px;
	height:200px;
	left: -11px;
	top: -10px;
}

.upcoming-release{
	background-color: #1D9DBD;
	border-bottom: #1D9DBD;
}

.upcoming-release .left{
	color:white;
}

.background-none{
	background-color: none;
}

.upcoming-text {
	margin-left: 0px;
	padding-left: 10px;
}

.today-release.upcoming-release{
	min-height: 50px;
	padding-top: 10px;
	padding-bottom: 12px;
}

.upcoming-text .model-name{
	font-size: 24px;
}
/*.today-release-download-zone{
	border-left: 5px solid #1D9DBD;
}*/


.indicators-carousel.carousel-indicators{
	color: white;
	bottom: 566px;
}

.indicators-carousel.carousel-indicators li{
	text-indent: 0px;
	border-radius: 0px;
	height: 31px;
	width: 17px;
	border:none;
	font-size: 17px;
	background-color: #A8A8A8;
	border-left: #A8A8A8;
}

.indicators-carousel.carousel-indicators .active{
	background-color: #1D9DBD !important;
}
.center{
	text-align: center !important;
}