.parent-left-note > .left-note li{
	border-right: 0;
	padding: 0;
}
.parent-left-note > .left-note li a{
	border-right: 1px solid #000;
	padding: 0 7px;
	line-height: 0;
}
.parent-left-note > .left-note li a.last-child{
	border-right: 0;
}
.allTable thead > tr > th{
  border-bottom: 3px solid #2ba3c1;
}
.allTable tbody > tr > td .textBold-blue{
  font-size: 23px;
  color: #2ba3c0;
  font-family: 'Myriad Pro Bold Condensed';
  line-height: 23px;
  margin: 0;
}
.allTable tbody > tr > td .textBold-blue i{
  padding-left: 5px;
  padding-right: 5px;
}
.GeneralChatTable{
	color: #4d4d4d;
	font-family: 'Myriad Pro Bold Condensed';
}
.text-title{
	font-size: 20px;
}

.text-title a {
	color: #4d4d4d;
	font-family: 'Myriad Pro Bold Condensed';
}
.GeneralChatTable i{
	padding: 0 3px;
}
.pagination--defaut-custom{
	background-color: inherit;
	padding-right: 230px;
	margin: 0;
}
.pagination--defaut-custom li a,
.pagination--defaut-custom li span{
	border: 0;
	border-radius: 0;
	background-color: inherit;
	color: #000;
	padding: 0 3px;
	font-size: 16px;
	font-weight: 600;
}
.pagination--defaut-custom li a:hover,
.pagination--defaut-custom li span:hover{
	background-color: transparent;
	border: 0;
}
.pagination--defaut-custom li span{
	color: #4d4d4d;
	padding: 0;
	font-size: 16px;
	line-height: 16px;
	padding-top: 5px;
	font-weight: normal;
}
.block-note-ft p i{
	width: 20px;
	padding: 0 3px;
}