.titleSearch{
	color: #EE008E;
    font-size: 25px;
    padding-left: 30px;
    line-height: 37px;
    font-family: 'Myriad Pro Condensed';
    word-spacing: 0px;	
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 20px;
}
.paging-search{
	margin: 0;
}
.blockSort{}
.title-sortSearch{
	font-family: 'Myriad Pro Condensed';	
	font-weight: bold;
	font-size: 23px;
	color: #1BA4C6;
	display: block;
}
.blockCategories .form-group{
	margin: 15px 0px 10px 0;
	width: 50%;
	position: relative;
}
.blockCategories .form-group a{
	position: absolute;
	display: block;
	top: 0px;
	right: -25px;
	bottom: 0;
	font-size: 25px;
	color: #D42729;
}
.caption-search{
	margin-top: 0;
	padding-top: 20px;
	background-color: #F5F3F4;
    max-width: 260px;
    overflow-x: hidden;
}
.text-dateTime{
    text-align: left;
    font-size: 16px;
}
.release-pic-models .width-img{
    max-height: 389px;
    overflow-y: hidden;
    border-bottom: 3px solid #1D9DBD;
    max-width: 260px;
}
.border-left-blue-model a{
	color: #1D9DBD;
	font-family: bebas;
}
.blue-info-model{
	overflow-x: hidden;
}
.iconRemove{
	position: absolute;
    display: block;
    top: 0px;
    right: 25px;
    bottom: 0;
    font-size: 25px;
    color: #D42729;
    height: 30px;
}