
@font-face {
    font-family: kkror;
    src: url(/assets/fonts/kkror.ttf);
}
@font-face {
    font-family: bebas;
    src: url(/assets/fonts/bebas.ttf);
}

@font-face {
    font-family: myriad-regular;
    src: url(/assets/fonts/MYRIADPROREGULAR.ttf);
}

@font-face {
font-family: 'Myriad Pro Regular';
font-style: normal;
font-weight: normal;
src: local('Myriad Pro Regular'), url('/assets/fonts/MYRIADPRO-REGULAR.woff') format('woff');
}

@font-face {
font-family: 'Myriad Pro Condensed';
font-style: normal;
font-weight: normal;
src: local('Myriad Pro Condensed'), url('/assets/fonts/MYRIADPRO-COND.woff') format('woff');
}

@font-face {
font-family: 'Myriad Pro Semibold Italic';
font-style: normal;
font-weight: normal;
src: local('Myriad Pro Semibold Italic'), url('/assets/fonts/MYRIADPRO-SEMIBOLDIT.woff') format('woff');
}

@font-face {
font-family: 'Myriad Pro Semibold';
font-style: normal;
font-weight: normal;
src: local('Myriad Pro Semibold'), url('/assets/fonts/MYRIADPRO-SEMIBOLD.woff') format('woff');
}

@font-face {
font-family: 'Myriad Pro Condensed Italic';
font-style: normal;
font-weight: normal;
src: local('Myriad Pro Condensed Italic'), url('/assets/fonts/MYRIADPRO-CONDIT.woff') format('woff');
}

@font-face {
font-family: 'Myriad Pro Bold Italic';
font-style: normal;
font-weight: normal;
src: local('Myriad Pro Bold Italic'), url('/assets/fonts/MYRIADPRO-BOLDIT.woff') format('woff');
}

@font-face {
font-family: 'Myriad Pro Bold Condensed Italic';
font-style: normal;
font-weight: normal;
src: local('Myriad Pro Bold Condensed Italic'), url('/assets/fonts/MYRIADPRO-BOLDCONDIT.woff') format('woff');
}

@font-face {
font-family: 'Myriad Pro Bold Condensed';
font-style: normal;
font-weight: normal;
src: local('Myriad Pro Bold Condensed'), url('/assets/fonts/MYRIADPRO-BOLDCOND.woff') format('woff');
}

@font-face {
font-family: 'Myriad Pro Bold';
font-style: normal;
font-weight: normal;
src: local('Myriad Pro Bold'), url('/assets/fonts/MYRIADPRO-BOLD.woff') format('woff');
}

body {
  background:#FFFFFF;
  max-width: 100%;
  padding-top: 0px;
}
.leftside-intro-text {
  padding-top: 10px;
  margin-left: -15px;
}

.nonpadding-left {
  padding-left:0px;
}
.nonpadding-right {
  padding-right:0px;
}

.marginLeft5px{margin-left: 5px;}
.marginTop{margin-top: 10px;}
.marginTop5{margin-top: 5px;}
.marginTop48{margin-top: 48px;}
.marginBottom{margin-bottom: 10px;}
.paddingTop{padding-top: 10px;}
.paddingRight{padding-right: 10px;}
.paddingLeft{padding-left: 10px;}
.floatLeft{float: left;}
.floatRight{float: right;}
.textCenter{text-align: center;}
.borderCCC{border:1px solid #CCCCCC;}
.width100percen{width: 100%;}
.padding-0{
  padding: 0px;
}

.display {
  display: none;
}
.non-display {
  display:block;
}
.marginRandom{margin:0px 5px 0px 0px;}
.readMore{color:#fff;font-size:16px;font-weight:bold;}
.detailLastNews{padding-right:10px; margin-bottom:0; padding-left:0}
.calendarItem{color: #1D9CBD; vertical-align: top; text-align: center;}
.picVieo{border-color:#ffffff;width: 260px;}
.ulSocial{padding-right: 10px; float: right; margin-right: -18px;}
.ulSocialLink{padding-right: 0px; float: right; margin-right: -18px;}
.textOr{font-size: 14px ! important; line-height: 230%; padding:0;}
.textWellcomeModel{padding-top: 10px;margin-left: -15px;}
.picLeftModel{border:1px solid black; width:100%;}
.textLeftModelItalic{font-size:11px;font-weight:normal;font-style:italic;text-align:left;}
.width120{width: 120px;}
.minHeigh190 {
  min-height: 190px;
}
/*set style of menu top head*/
#navbar {
  font-size: 14px ! important;
  font-family: bebas! important;
  background: url(/assets/img/tab_tabmenu.png) repeat-x;
  background-size: auto 100%;
  margin-bottom:0px;
  word-spacing: 1px;
}

/*set font style of text menu on top head*/
#navbar > ul > li > a {
  background: url(/assets/img/line_menu.png) no-repeat top right;
  padding-left: 28px;
  padding-right:  28px;
  line-height: 200% ! important;
  background-size: auto 100%;
  padding-top: 0;
  padding-bottom: 0;
}
}

#navbar > ul > li > a:hover {
  background: url(/assets/img/selected_bg.png) no-repeat;
  background-size: 100% 100%;
}

#tophead {
  background: url(/assets/img/tab_tabmenu.png) repeat-x;
  font-family: bebas! important;
  height: auto;
  background-size: auto 100%;
}

.ournetwork {
  background: url(/assets/img/line_menu.png) no-repeat top left;
  background-size: auto 100%;
  line-height: 200% !important;
  font-weight: bold ! important;
  font-size: 14px ! important;
  color: #868686;
}

/*Set style for home menu*/
#homemenu{
  background: url(/assets/img/menu.png) repeat-x;
  background-size: auto 100%;
  height: auto;
  border-radius: 4px;
  padding: 0px;
  font-family: bebas! important;
  font-size: 24px;
  word-spacing: 5px;
}

#homemenu >ul > li > a {
  color: #1E9DBD ! important; 
  height: auto ! important;
  padding: 10px 28px 10px 30px;
}

#homemenu > ul > li > a.active {
  background: url(/assets/img/nav-main-ot.png) repeat-x;
  background-size: 100% auto;
  color: #ffffff !important;
}

.subhomemenu >ul > li > a {
  color: #1E9DBD ! important; 
  height: auto ! important;
  padding: 10px 30px 10px 30px;
}

.subhomemenu >ul > li > a.active {
  background: url(/assets/img/nav-main-ot.png) repeat-x;
  background-size: 100% auto;
  color: #ffffff !important;
}

.homemenubrand {
  /*background: url(/assets/img/menu.png) repeat-x;*/
    height: auto;
    border-radius: 4px;
}

.homemenubrand > a {
  font-family: bebas! important;
  font-size: 24px;
  padding-top: 10px;
  color: #1E9DBD
}

.homemenubrand .icon-bar {
  background-color: #888;
}

.homemenubrand > button {
  right: 20px;
}

.homemenubrand > button:hover {
  background-color: #000;
}
/*set up style for webcam header*/

#camsticker{
  background: url(/assets/img/tab_head.png) repeat-x;
  height:auto;
  background-size: auto 100%;
  padding: 10px;
}

#otcams{
  height: auto;
  margin-bottom: 0px;
  letter-spacing: normal;
}

#logo_camsticker {
  background: url(/assets/img/threedot.png) no-repeat right;
  margin-top: -5px;
}

#statustext{
  background: url(/assets/img/threedot.png) no-repeat right;
  float: left;
  font-size: 14px;
  font-weight: bold;
  line-height: 150%;
}

#tick{
  font-size: 14px;
  color : rgb(28,157,189);
}
#camslink{
  line-height: 100%;
}

#sociallinks{
  margin-bottom: 0px;
  padding-top: 12px;
    padding-bottom: 10px;
}

#imgdot{
  padding-top: 5px;
  padding-left: 0px;
}
#ctw{
  background-color: rgb(248,58,156);
  border: rgb(248,58,156);
}

.fa-2x {
    font-size: 25px;
    color: #1D9EBE;
    padding-left: 10px;
    }
.listicon{
    padding-top: 15px;
}

.navlink{
    color: #212121;
}

/*Set up buttons on top header*/

#tease{
  color: #65ADBC;
  line-height: 2% ! important;
}

#tease.active{
  color: #65ADBC;
  background: url(/assets/img/selected_bg.png) no-repeat;
  background-size: 100% 100%;
}

#opaque {
  color: #F06EAE;
  line-height: 2% ! important;
}

#sec {
  color: #C172F1;
  line-height: 2% ! important;
} 

#silk {
  color: #8EAF54;
  line-height: 2% ! important;
}

#vip {
  color: #ED9D00;
  line-height: 2% ! important;
}

#melanie {
  color: #00E7F1;
  line-height: 2% ! important;
}

#carla {
  color: #9B2EA3;
  line-height: 2% ! important;
}

/*Styles for left side*/
.dots_carousel {
  bottom: -10px !important;
}
.left-side-black-bg {
  background-color: #111111 ! important;
  color: #1D9CBD ! important;
  font-family: bebas ! important;
  font-size: 20px;
  word-spacing: 3px;
}

.left-side-black-bg a {
  color: #1D9CBD ! important;
  font-family: bebas ! important;
  font-size: 20px;
  word-spacing: 3px;
}

.left-side-grey-bg {
  background-color: #363636;
  color: #FFFFFF;
  font-size: 12px;
}

.left-side-grey-bg > a {
  color: #1D9CBD;
}

.bottom-45 {
  padding-bottom: 45px;
}

.left-side-block{
  margin-left: -15px !important;
  padding-right: 0px;
}

.article_content {
  padding-left:15px;
  padding-right:15px;
  white-space: inherit;
}

/*Set style of tweets*/

#twitter-widget-0 {
  width: 100% !important;
}

.no-padding {
  padding: 0.5em;
}


/*Set style of carousel-latest-news*/
#carousel-latest-news {
  min-height: 410px;
}

/*Set styles for Model of the month*/

.model-of-month {
  background-color: #F5F3F4;
  margin-left: 0px;
  margin-right: 0px;
  padding-top: 20px;
  padding-bottom: 0px;
}
.head-model-of-month {
  font-family: bebas ! important;
  text-align: center;
}

.head-model-of-month > hr {
  width: 30px;
  height: 1px;
  background-color: #000000;
  vertical-align: top;
  margin-top: -40px;
}

.vote-here {
  background: url(/assets/img/vote_here.png) no-repeat bottom right;
  height:65px;
}

.body-model-of-month {
  text-align: center;
  font-family: bebas;
}

.lblname {
  float: left;
  font-family: bebas;
  color:#335353 !important;
}

.model_name {
  /*background: url(/assets/img/pink_circle.png) no-repeat right;*/
  float:left;
  padding-left: 5px;
  color:#FC0184;
  width: 100%; 
  text-align: left;
  word-spacing: 5px;
}
.body-model-of-month > p {
  width:auto;
}

.btn_modelofmonth {
  background: url(/assets/img/button.png) no-repeat;
  font-family: bebas;
  font-size: 18px;
  float: right;
  margin-right: -15px;
  width: 150px;
  height: 40px;
  word-spacing: 5px;
}
/*FORTHCOMING SHOOTS*/
.forthcoming-shoots {
  padding-top: 45px;
}
.head-forthcoming-shoots {
  background-color: #ED008C;
  font-family: bebas;
  color:#FFFFFF;
  text-align: center;
  font-size: 22px;
  word-spacing: 3px;
}

.body-forthcoming-shoots {
  background-color: #F5F3F4;
}

.body-forthcoming-shoots > div.row > div {
  padding-bottom: 10px;
  padding-top: 10px;
}

.btn_forthcomingshoots {
  background: url(/assets/img/button.png) no-repeat;
  font-family: bebas;
  font-size: 18px;
  float: right;
  margin-right: 15px;
  width: 150px;
  height: 40px;
  word-spacing: 5px;
}

/*Set styles of the right side*/
.right-side {
  background-color: #EBEBEB;
  margin-top: 10px;
}

.today-release {
  padding-top: 10px;
  font-family: bebas;
  border-bottom: thick solid #EE008E;
  word-spacing: 5px;
}

.today-release .left {
  color: #EE008E;
  font-size: 28px;
    padding-left: 15px;
}

.today-release .right {
  color: #A8A8A8;
  font-size: 18px;
  text-align: right;
  padding-top: 15px;
  float: right;
}

.today-release > hr {
  width:100%;
  height: 2px;
  background-color: #EE008E;
}

/*
.today-release-pics {
  padding-top: 10px;
}*/

.release-pic {
  /*padding-left: 0px;
  padding-right: 0px;*/
  vertical-align: middle;
  text-align: center;
}

.release-pic > img {
  padding: 10px;
  width:100%;
}

.download-zone {
  margin-top:10px !important;
  background-color: #F5F3F4;
  border-left: thick solid #EE008E;
}

.model-info-pink {
  color: #EE008E;
  font-size: 25px;
  padding-left: 35px;
}

.model-name {
  font-family: bebas;
  font-weight: normal;
  padding-right: 10px;
  word-spacing: 5px;
}

.model-name > a {
  color: #EE008E;
  font-size: 25px;
  font-family: bebas;
  font-weight: normal;
  word-spacing: 5px;
}

#video-view {
  margin:10px;
}

#video-view img {
  padding-top: 10px;
  vertical-align: middle;
}

.view-video-zone-pink {
  background-color: #F5F3F4;
  border-left: thick solid #EE008E;
}

.view-video-zone-blue {
  background-color: #F5F3F4;
  border-left: thick solid #1D9DBD;
}

/*set styles of buttons and labels to view set*/
.btn-pink-view {
  font-family: bebas;
  font-size: 18px;
  background: url(/assets/img/button_pink.jpg) repeat-x center;
  height: 36px;
  width: 100%;
  vertical-align: middle;
  word-spacing: 5px;
}

/*.btn-blue-view {
  font-family: bebas;
  font-size:19px;
  background:url(/assets/img/btn_Blue.png) no-repeat;
  height:49px;
  width:172px;
  vertical-align: bottom;
}*/

.btn-view-area {
  line-height: 300%;
  margin-top: 22px;
}

.lbl-set {
  font-weight: normal;
  font-size: 17px;
}

.standard-size {
  font-weight: normal;
  font-family: none;
  font-style: normal;
  font-size: 14px;
  color:#3F3F3F;
}

.standard-size > a {
  color:#3F3F3F;
}

.xl-size {
  font-weight: normal;
  font-family: none;
  font-style: normal;
  font-size: 17px;
  color:#3F3F3F;
}

.xl-size > a {
  color:#3F3F3F;  
}

.u-xl-size {
  font-weight: normal;
  font-style: normal;
  font-size: 20px;
  color:#3F3F3F;
}

.u-xl-size > a {
  color:#3F3F3F;  
}

.super-size {
  font-weight: normal;
  font-family: none;
  font-style: normal;
  font-size: 23px;
  color:#3F3F3F;
}

.super-size > a {
  color:#3F3F3F;  
}

.news_date {
  padding-top:20px;
  text-align: center;
  background: url(/assets/img/icon_calendar.png) no-repeat center;
  width: 100%;
  height: 44px;
}

/*Set styles of footer*/
.footer {
  margin-top: 10px;
  background: url(/assets/img/footer.jpg) repeat-x;
  color: white;
  height:auto;
  background-size: auto 100%;
  padding-top: 10px;
}
.footer_info {
  padding-top: 10px;
  text-align: left;
  font-size: 9px;
}
.footer_sociallinks {
  padding-top: 10px;
}

.daily-strip {
  margin-top: 10px;
  background: #363636;
}

.daily-strip-tap-menu {
  min-height: 42px;
}

.daily-strip-tap-menu > li > a {
  background:  url(/assets/img/tab_tabmenu.png) repeat-x; 
  background-size: auto 100%;
  border-radius: 0 !important;
  font-family: bebas;
  font-size:19px;
  text-align: center;
}

.daily-strip-tap-menu > li > a:hover {
  background:  url(/assets/img/selected_bg.png) repeat-x; 
  border:none;
  background-size: 100% auto;
}

.tab-active {
  background:  url(/assets/img/selected_bg.png) repeat-x !important; 
  background-size: 100% 100% !important;
  color: #EE008E;
}

.tab-release-date {
  font-family: bebas;
  font-size:23px;
  text-align: left;
  color: #FFFFFF;
  padding: 10px;
  font-weight: bold;
  padding-left: 20px;
  word-spacing: 5px;
}

.tab-release-slide {
  padding-left: 10px;
}

.dailystrip-content {
  overflow-x: hidden;
  border-bottom: 14px solid;
  padding-bottom: 25px;
}

.dailystrip-slider {
  padding- left: 10px;
}

.Only-Opaques > a{
  color:#EE008E;
  word-spacing: 5px;
}

.Only-Secretaries > a {
  color:#662E91;
  word-spacing: 5px;
}

.Only-Silk-and-Satin > a {
  color:#25C079;
  word-spacing: 5px;
}

.size-text {
  font-family: 'Helvetica', 'Arial', sans-serif;
}

.blue{
  color:#1D9DBD;
}

.pink{
  color:#EE008E;
}

.purple{
  color:#662E91;
}

.green{
  color:#25C079;
}

.yellow{
  color:#F1B022;
}

.no-border{
  border: none !important;
}

.release-pic  a  img{
  padding: 0px; 
  max-width: 100%;
}

.release-vid-pic a img{
  padding: 0px 0px 10px 0px;
  width: 100%;
}
.release-vid-pic{
  position: relative;
}
.opacity-vid-pic {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  width: 90%;
  height: 94.5%;
  top: 0;
  left: 0;
  margin: 0 0 0 15px;
  border: 3px solid #ED008C;
  color: #fff;
  text-align: center;
  vertical-align: middle;
}
.opacity-vid-pic p{
  margin-top: 30px;
  margin-bottom: 0;
  font-size: 40px;
}
.opacity-vid-pic label{
  font-size: 20px;
}

#carousel-upcomingrelease .release-pic a img{
    border-bottom: 3px solid;
    margin-bottom: 10px;
    padding: 20px 0 0 0;
}
#carousel-upcomingrelease .release-pic  a  span{
  display: block;
  background-position: center center;
  background-size: cover;
  width: 263px;
  height: 360px;
  border-bottom: 3px solid;
}
#carousel-upcomingrelease .release-pic{
  background-color: #fff;
}
.bg-block-upcom{
  background-color: #F5F3F4;
  margin-bottom: 20px;
}
.padding-bottom-10{
  padding-bottom: 10px;
}

.margin-top-10{
  margin-top: 10px;
}

.background-black-opacity{
  background-color: rgba(0, 0, 0, 0.7);
}

.background-black{
  background-color: black;
}

.color-white{
  color: white;
}

.border-black{
  border-color: black;
}

.no-padding-border-thumbnail{
  border: none;
  padding: 0px;
  background: none;
}

.carousel-control.right{
  background-image: none;
  right: -120px;
}

.carousel-control.left{
  background-image: none;
}

.carousel-control{
  top: 55px;
}

.title-font {
  font-family: bebas;
  font-weight: normal;
}

.border-purple-thumbnail{
  background: none repeat scroll 0 0 #662E91;
  padding:0px;
  border: 5px solid #662E91;
}

.border-bottom-purple{
  border-bottom: 15px solid #662E91;
}

.title-tab{
  word-spacing: 4px;
  font-size: 26px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 5px;
}

.tab-header{
  font-family: bebas;
  word-spacing: 4px;
  font-weight: bold;
}

.border-nav-tabs li{
  border-bottom: 1px solid white;
}

.border-nav-tabs li.active > a,
.border-nav-tabs li.active > a:focus,
.border-nav-tabs li.active > a:hover{
  border-bottom: none;
}

/*.today-release .carousel-indicators{
  color: #a8a8a8;
  bottom: -54px;
}

.today-release .carousel-indicators li{
  text-indent: 0px;
  border-radius: 0px;
  height: 31px;
  width: 17px;
  border:none;
  font-size: 17px;
  background-color: none;
}*/

.today-release .background-pink .active{
  color:white;
  background-color: #EE008E;
}

.today-release .carousel-indicators span{
  font-size: 17px;
}

.fullwidth-carousel .carousel-control{
  top: 200px;
  width: 0;
}

.fullwidth-carousel .carousel-control .left{
  left: -50px;
}

.fullwidth-carousel .carousel-control .fa-angle-left.fa-2x{ 
  padding-left: 5px;
  padding-right: 8px;
}

.fullwidth-carousel .carousel-control.right{
  background-image: none;
  right: 30px;
}

.background-white{
  background-color: white;
}

.color-black{
  color: black;
}

.border-white{
  border-color: white;
}

.yesterday-release{
  margin-top:10px;
  border-bottom: thick solid #1D9DBD;
}

.yesterday-release .left{
  color: #1D9DBD;
}

.today-release .background-blue .active{
  color:white;
  background-color: #1D9DBD;
}

.model-info-blue{
  color: #1D9DBD;
  font-size: 25px;
  margin-left: 20px;
}

.model-info-blue .model-name a{
  color: #1D9DBD;
}

.download-zone-blue {
  border-left-color: #1D9DBD !important;
}

.btn-blue-view {
  background: url("/assets/img/button_blue.jpg") repeat-x center;
  font-family: bebas;
  font-size: 18px;
  height: 36px;
  width: 100%;
  vertical-align: middle;
  word-spacing: 5px;
}

.btn-blue-upcoming {
  background: url("/assets/img/button_blue.jpg") repeat-x center;
  font-family: bebas;
  font-size: 18px;
  height: 36px;
  width: 70%;
  vertical-align: middle;
  word-spacing: 5px;
}

.float-img{
  position: absolute;
  z-index: 15;
  width: 300px;
  height:200px;
  right: -285px;
  top: -10px;
}

.upcoming-release{
  margin-top:10px;
  background-color: #1D9DBD;
  border-bottom: #1D9DBD;
}

.upcoming-release .left{
  color:white;
}

.background-none{
  background-color: none;
}

.upcoming-text {
  margin-left: 0px;
  padding-left: 0px;
  height: 40px;
  overflow-y: hidden;
  font-size: 25px;
  color: #1D9DBD;
  text-align: left;
}

.today-release.upcoming-release{
  min-height: 50px;
  padding-top: 10px;
  padding-bottom: 12px;
  position: relative;
}

.upcoming-date-text {
  font-size: 18px;
  text-align: left;
}

.upcoming-text .model-name a{
  font-size: 25px;
  color: #1D9DBD;
}

/*.today-release-download-zone{
  border-left: 5px solid #1D9DBD;
}*/

.indicators-carousel.carousel-indicators{
  color: white;
  top:-40px;
  height:15px;
  line-height: 215%;
}

.indicators-carousel.carousel-indicators li{
  text-indent: 0px;
  border-radius: 0px;
  height: 31px;
  width: 17px;
  border:none;
  font-size: 17px;
  background-color: #A8A8A8;
  border-left: #A8A8A8;
}

.indicators-carousel.carousel-indicators .active{
  background-color: #1D9DBD !important;
}

#carousel-upcomingrelease .carousel-inner{
  min-height: 425px;
}

.title-block{
  height: 20px;
  background-color: #fff;
}

span.border-left {
  border-left: 1px solid #EE008E;
  padding-right: 10px;
  padding-left: 10px;
}
span.border-blue {
  border-left: 1px solid #1D9DBD;
  padding-right: 10px;
  padding-left: 10px;
}
.blue{
  color: #1D9DBD;
}

i.fa.fa-download.blue {
  padding: 0 5px;
}

.pink{
  color: #FC0082;
}

i.fa.fa-download.pink {
  padding: 0 5px;
}

.vipContainer {
  background-color:#ffe086;
  width:100%;
  padding:10px;
  margin:10px 0;
  border-width:3px;
  border-style: double;
  border-color:#e4b543;
}

.vipContainerSearch {
  background-color:#ffe086;
  width:729px;
  padding:10px;
  margin:0px 0;
  border-width:3px;
  border-style: double;
  border-color:#e4b543;
}

#vipWrapper {
  overflow:hidden;
}

#vipRight {
}

#vipLeft {
  float:left;
  width:200px;
}

.VIPSetImageContainer {
  float : right;
  width : 150px;
}

.modelSetImageContainerVIP {
  float : right;
  width : 448px;
}

.vipLogo {
  width:194px;
  height:37px;
}

.setImageContainerVip {
  float : right;
  width : 453px;
  padding : 0px;
}

.setDescContainerVip {
  float : left;
  width : 305px;
}

.modelsDescContainerImageVip {
  overflow  : hidden;
  text-align  : left;
}

.viewSetButtonVip {
  background-color  : #e4b543;
  border-top    : 1px solid #000000;
  border-bottom : 1px solid #000000;
  font-size : 14px;
  font-weight : bold;
  width   : 147px;
  padding   : 2px 0px 2px 2px;
  text-align  : center;
}

.viewSetButtonVip A, .viewSetButton A:visited {
  font-size : 14px;
  font-weight : bold;
  text-decoration : none;
}

.viewSetButtonVip A:hover {
  font-size : 14px;
  font-weight : bold;
  text-decoration : underline;
}

.modelsDescContainerVideoVip {
  height    : 127px;
  overflow  : auto;
  text-align  : left;
}

.videoImageVip {
  float : left;
  width: 150px;
}

.videoImageVip A {
  padding : 6px 10px 6px 10px;
}

.navbar-brand {
  height: auto;
  padding: 0 15px;
}
.mobile { display: none ! important; }

#nav-icon-footer{
  background: url(/assets/img/menu.png) repeat-x;
  background-size: auto 100%;
  height: auto;
  border-radius: 4px;
  padding: 0px;
  font-family: bebas! important;
  font-size: 24px;
}

.custom-min-height{
  /*min-height: 261px;*/
}

 .custom-min-height-upcomming{
  min-height: 404px;
}

.bx-wrapper .bx-viewport ul li{
  width: 122px !important;
}

.text-title-lastNew{
  height: 42px;
  overflow-y: hidden;
  font-size: 16px;
  margin-bottom: 5px;
}

.custom-month-canler{
  font-size: 16px;
}

.border-left-blue{
  border-left: 2px solid #1D9DBD;
  padding-left: 15px;
  margin-left: 0px;
  text-align: left;
}

.border-left-blue i{
  padding-left:10px;
}

.box-search-alphabet{
  background: url(/assets/img/bg-alphabet.jpg) repeat-x;
  height: 195px;
  border: 1px solid #C2C0C1;
  padding: 30px 30px;
}

.box-search-alphabet p{
  margin-bottom: 15px;
}

.box-search-alphabet span{}

.box-search-alphabet span a{
  font-size: 24px;
  font-weight: lighter;
  color: #474747;
  font-family: 'bebas';
  padding: 0 3px;
}

.letter-model {
  font-size: 24px;
  font-weight: lighter;
  color: #474747;
  font-family: 'bebas';
  padding: 0 3px;
}

.box-search-alphabet span a:hover{
  color: #1d9dbd;
  text-decoration: none;
  border: 1px solid #1d9dbd;
  padding: 0 2px;
}

.title-search{
  margin: 10px 0;
  color: #474747;
}

.search-models{
  background: url(/assets/img/bg-input.jpg) repeat-x;
  height: 43px;
  border: none;
  width: 100%;
  position: relative;
}

.search-form{
  position: relative;
}

.search-form button{
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  background-color: transparent;
  padding: 8px 12px;
  font-size: 20px; 
}

.text-name{
  color: #EE008E;
  font-size: 22px;
  font-family: bebas;
  font-weight: normal;
  word-spacing: 5px;
  text-align: left;
}

.text-pink {
  color: #EE008E ! important;
}

.text-blue {
  color: #1D9DBD ! important;
}

.pink-info-model{
  margin-left: 0px;
  padding-left: 0px;
  height: 40px;
  overflow-y: hidden;
  font-size: 25px;
  color: #EE008E;
  text-align: left;
}

.blue-info-model{
  margin-left: 0px;
  padding-left: 0px;
  height: 40px;
  overflow-y: hidden;
  font-size: 25px;
  color: #1D9DBD;
  text-align: left;
}

.border-left-pink-model{
  border-right: 1px solid #EE008E;
  padding-right: 10px;
  padding-left: 5px;
}

.border-left-pink-model .fa{
  padding-right: 5px;
}

.border-left-pink-model:last-child{
  border-right: none;
}

.border-left-pink-model:first-child{
  padding-left: 0;
}

.border-left-blue-model{
  border-right: 1px solid #1D9DBD;
  padding-right: 10px;
  padding-left: 5px;
}

.border-left-blue-model .fa{
  padding-right: 5px;
}

.border-left-blue-model:last-child{
  border-right: none;
}

.border-left-blue-model:first-child{
  padding-left: 0;
}

.caption-updates{
  padding-left: 20px;
  margin-top: 20px;
}

.btn-pink-model{
  background: url(/assets/img/button_pink.jpg) repeat-x center;
  font-family: bebas;
  font-size: 18px;
  height: 36px;
  width: 70%;
  vertical-align: middle;
  word-spacing: 5px;
  color: #fff;
}

.btn-blue-model{
  background: url(/assets/img/button_blue.jpg) repeat-x center;
  font-family: bebas;
  font-size: 18px;
  height: 36px;
  width: 70%;
  vertical-align: middle;
  word-spacing: 5px;
  color: #fff;
}

.margin-bottom{
  margin-bottom: 20px;
}

.bg-white{
  background-color: #fff;
  padding: 20px 0;
  margin: 0 -15px;
}

.panel-border-bottom{
  height: 5px;
  width: 100%;
  background-color: #C81A7C;
}

.bx-wrapper .bx-next{
  right: -305px;
}
.marginTop-30{
  margin-top: -20px;
}
.release-pic-models{
  margin-top: 10px;
}
.box-pic-height{
  width:100%;
  height: 108px;
  text-align: center;
  color: white; 
  padding-top: 10px;
}
.box-pic-icon {
  font-size: 38px; 
  margin: 0px;
}
.box-pic-text {
  font-size: 18px; 
  font-family: bebas;
}

.dailystrip-sample-image {
  margin: 0 auto; 
  max-width: 100% !important;
}
/*use for page search*/
.rs-text {
  min-height: 300px;
  text-align: center;
  padding-top: 100px;
  font-weight: bold;
}

#loadingDiv-search {
  display: none
}
.site-logo{
  max-width: 100% !important;
}