.commingsoon-filter {
  	font-family: bebas;
  	word-spacing: 5px;
  	background-color: #fff;
  	line-height: 18px;
}

.commingsoon-filter .left{
  	color: #000;
  	font-size: inherit;
  	padding-left: 15px;
  	line-height: 25px;
}

.commingsoon-filter .right {
  	color: #000;
  	font-size: inherit;
  	text-align: right;
  	float: right;
}

.commingsoon-filter .pagination{
  	margin: 0;
  	border-radius: 0; 
}

.commingsoon-filter .pagination>li:first-child>a, 
.commingsoon-filter .pagination>li:first-child>span,
.commingsoon-filter .pagination>li:last-child>a, 
.commingsoon-filter .pagination>li:last-child>span{
  	border-radius: 0;
}

.commingsoon-filter .pagination>li>a, 
.commingsoon-filter .pagination>li>span{
  	border: 0;
  	color: #8E8A87;
    font-size: 12px;
}

.commingsoon-filter .pagination>li>a:hover, 
.commingsoon-filter .pagination>li>a.active{
  	color: #fff;
  	background-color: #EE008E;
}

.commingsoon-filter .pagination>li>a>span{
  	color: #EE008E;
}

.commingsoon-filter .pagination>li>a:hover span{
  	color: #fff;
}
.border-bottom-comming{
	border-bottom: thick solid #EE008E;
}
.filterForm.left{
	float: left;
}
.commingsoon-title{
	border-bottom: thick solid #EE008E;	
}
.commingsoon-title .left {
  color: #EE008E;
  font-size: 28px;
  padding-left: 15px;
  background-color: #fff;
  font-family: bebas;
}
.commingsoon-title .left label{
	font-weight: bold;
	margin: 0;
  word-spacing: 5px;
}