.left-side-gray-bg{
  background-color: #EBEBEB;
  font-size: 12px;
  color: #828282;
}

.detail-models .left-side-black-bg a{
  color: #fff !important;
}

.caption-left-model-set{
  font-size: 18px;
  color: #F62B90;
}

.caption-left-model-set i{
  padding-right: 5px;
}

.vital-stats h6{
  font-size: 18px;
  font-family: 'bebas';
  color: #F62B90;
  text-transform: uppercase;
  margin-top: 20px;
}

.detail-list{
  font-size: 14px;
  text-transform: capitalize;
}

.detail-list-name p{
  margin: 0 0 5px 0;
  color: #F62B90;
}

.detail-list-number p{
  margin: 0 0 5px 0;
  color: #666666;
}

.fland-fact{
  font-size: 14px;
  margin-top: 20px;
}

.fland-fact .title{
  color: #F62B90;
  margin-bottom: 0;
}

.fland-fact .text{
  color: #666666;
  padding-left: 0;
}

.left-side-pink-bg{
  background-color: #EC0090;
}

.left-side-pink-bg a{
  color: #fff ! important;
  font-family: bebas ! important;
  font-size: 20px;
  word-spacing: 3px;
}

.left-side-pink-bg i{
  padding-left: 10px;
}

.profile-list{}

.profile-list{
  padding: 10px 0 20px 0;
}

.profile-list li{
  margin-bottom: 10px;
}

.profile-list li a{
  color: #666666;
  font-size: 14px;
}

.profile-list li a:hover{
  text-decoration: none;
}

.profile-list li a i{
  font-size: 24px;
  padding-right: 10px;
  vertical-align: middle;
}

.profile-list li a i.green{
  color: #35A050;
}

.profile-list li a i.yellow{
  color: #C4BB38;
}

.profile-list li a i.blue{
  color: #166293;
}

.profile-list li a i.blue{
  color: #166293;
}

.suggest-site{
  margin-top: 10px;
}

.suggest-site h3{
  font-size: 18px;
  font-family: 'bebas';
  color: #33A6C3;
  line-height: 26px;
}

.oquare-blue{
  min-height: 90px;
  background-color: #33A6C3;
  margin-bottom: 5px;
}

.suggest-site p{
  margin-bottom: 10px;
}

.suggest-site .text-underline{
  color: #1F211E;
  font-size: 14px;
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 16px;
  text-decoration: underline;
}

.suggest-site .text-pink{
  font-family: 'bebas';
  font-size: 19px;
  color: #F62B90;
  line-height: 20px; 
}

.suggest-site .btn-view-area{
  margin-top: 0;
  padding-left: 0;   
  margin-bottom: 50px;
}

.text-normal-black{
  font-size: 13px;
  color: #3E3E3E;
  font-family: inherit;
  font-weight: 600;
  text-transform: initial; 
}

.becky-sets {
  font-family: bebas;
  border-bottom: thick solid #EE008E;
  word-spacing: 5px;
  background-color: #fff;
  line-height: 18px;
}

.becky-sets .left{
  color: #EE008E;
  font-size: 25px;
  padding-left: 15px; 
  line-height: 37px;
}

.becky-sets .right {
  color: #A8A8A8;
  font-size: 18px;
  text-align: right;
  float: right;
}

.becky-sets .pagination{
  margin: 0;
  border-radius: 0; 
}

.becky-sets .pagination>li:first-child>a, 
.becky-sets .pagination>li:first-child>span,
.becky-sets .pagination>li:last-child>a, 
.becky-sets .pagination>li:last-child>span{
  border-radius: 0;
}

.becky-sets .pagination>li>a, 
.becky-sets .pagination>li>span{
  border: 0;
  color: #8E8A87;
  font-size: 15px;
}

.becky-sets .pagination>li>a:hover, 
.becky-sets .pagination>li>a.active{
  color: #fff;
  background-color: #EE008E;
}

.becky-sets .pagination>li>a>span{
  color: #EE008E;
}

.becky-sets .pagination>li>a:hover span{
  color: #fff;
}

.becky-radio-group{
  background-color: #fff;
  padding: 15px 0;
}

.becky-radio-group .form-radio{
  padding-right: 5%;
  display: inline-block;
}

.becky-radio-group .form-radio label{
  font-size: 16px;
  font-family: 'bebas';
  color: #808080;
}
.becky-radio-group .form-radio input{
  margin-right: 5px;
}

.becky-image-sets .right{
  color: #A8A8A8;
  font-family: 'bebas';
  font-size: 18px;
  text-align: right;
  padding: 15px 5px 0 0;
  float: right; 
  word-spacing: 3px;
}

.becky-image-sets .left{
  color: #A8A8A8;
  font-family: 'bebas';
  font-size: 18px;
  text-align: right;
  padding: 15px 5px 0 0;
  float: left;
  word-spacing: 3px;
}

.becky-sets-video{
  border-top: thick solid #EE008E; 
  border-bottom: 0;
  padding: 0;
}

.nonResultsContent{
  text-align: center;
  padding: 10px 0;
}

.content-image {
  text-align: center;
  margin-bottom: 10px;
}
.bxwapper-model .bx-wrapper{
  max-width: 520px !important;
}
.bxwapper-model .bx-wrapper .bx-next{
  right: -186px;
}
.suggestModelSet .suggest-site{
  padding-left: 0;
}