.current-month,
.previous-month{
	margin-bottom: 10px;
	color: #fff ! important;
	font-family: bebas ! important;
	font-size: 20px;
	word-spacing: 3px;
}

.text-underline i{
	padding-right: 7px;
}

.text-underline a{
  color: #1F211E;
	font-size: 14px;
	font-family: sans-serif;
	font-size: 16px;
	text-decoration: none;	
}

.archive-filter{
  font-family: bebas;
  border-bottom: thick solid #EE008E;
  word-spacing: 5px;
  background-color: #fff;
}

.archive-filter .left{
  color: #EE008E;
  font-size: 28px;
  padding-left: 15px;
}

.archive-filter .left label{
  margin-bottom: 0;
}

.filterForm{
  float: right;
  padding-right: 10px;
  padding-top: 5px;
}

.filterSelect{
  height: 28px;
}

.btn-filter {
	background-color: #1EA7CD;
}

.bg-vipContent{
  background-color: #FFE086;
}

.btn-vipContent{
  background: #E4B543;
  color: #000;
}

.download-vip{
  background-color: #FFE086;
  border-left: thick solid #E4B543;
  margin-top: 0 !important;
}

.model-info-yellow{
  color: #000;
  background-color: #FFE086;
  margin: 0;
}

.model-name-vip a{
  color: #000;
}

.border-left-vip{
  border-left: 1px solid #E4B543 !important;
}
#selectGallery{
  font-family: bebas;
}
#galTypeSelect{
  height: 26px;
  padding:0;
  font-family: bebas;
}
#galTypeSelect option{
  font-size: 12px; 
}
.form-select-gallery label{
  padding: 0;
  vertical-align: bottom;
  margin-top: 5px;
  text-transform: uppercase; 
}
#calendar{
  background-color: #E9478D;
  font-family: bebas;
}
#calendar thead tr{
  background-color: rgba(255, 255, 255, 0.3);
}
#calendar thead tr th{
  color: #fff;
  padding: 10px;
  font-size: 18px;
  border: 0;
  font-family: bebas;
}
#calendar thead tr th a i{ 
  padding: 0;
  font-size: 16px;
  color: #fff; 
}
#calendar thead tr th.center{
  text-align: center;
}
#calendar thead tr th.right{
  text-align: right;
}
#calendar tbody tr{
  margin: 5px 0 10px 0;
}
#calendar tbody tr td{
  border: 0;
  padding: 10px
}
#calendar tbody tr td div{
  color: #A02F64;
  font-family: bebas;
  font-size: 14px;
}
#calendar tbody tr td a{
  text-decoration: none; 
  font-family: bebas;
  color: #fff;
  font-size: 14px;
}
#calendar tbody tr td.active a{
  color: #E9478D;
  background-color: #fff;
  font-weight: bold;
  font-family: bebas;
  font-size: 14px;
}
#calendar tbody tr td a.data-link{
  color: #fff;
  font-family: bebas;
  font-size: 14px;
}
#calendar{}
#calendar{}
#calendar{}
#calendar{}