@media (max-width: 1200px) {
  #navbar > ul > li > a { 
    padding-left: 10px;
    padding-right: 10px; 
    font-size: 13px;
  }

  #homemenu >ul > li > a {
    padding: 10px; 
    font-size: 20px;
  }

  .float-img{
    top: 92px;
  }
}

@media (max-width: 1024px) {
  .daily-tabmenu-desktop{display: none !important;}
  .daily-tabmenu-ipad{display: block !important;}

  .box-search-alphabet{
    padding: 30px 8px
  }

  #homemenu >ul > li > a{
    padding: 10px 23px;
  }

  .icon-footer{
    margin-left: -25px;
  }

  .float-img {
    top: 35px;
    right: auto;
    left: 170px;
  }
  .row-info-pink{
    padding: 0 10px;
  }
  .upcoming-release .left{
    font-size: 24px;
  }
  .opacity-vid-pic{
    width: 88%;
    height: 93%;
  }
  .opacity-vid-pic p{
    margin-top: 15px;
  }
  .opacity-vid-pic label{
    font-family: bebas;
  }
  .dailystrip-content .bx-wrapper {
    max-width: 255px !important;
  }
  .bx-wrapper .bx-next {
    right: -225px;
  }
  .bx-wrapper .bx-prev {
    left: -225px;
  }
  .previousre .fullwidth-carousel .carousel-control{
    top: 115px; 
  }
  .blockText-votingDate p{
    margin: 0 30px;
  }
}

@media (max-width: 992px) {
  #navbar > ul > li > a { 
    padding-left: 8px;
    padding-right: 8px; 
    font-size: 12px;
  }

  .navbar-brand {
    padding: 0 0 0 5px;
    font-size: 12px !important;
    font-weight: normal;
  }

  #navbar {
    overflow: hidden !important;
    padding: 0;
  }

  .float-img {
    top: 92px;
  }

  .left-side{
    float: none !important;
    display: block;
  }

  .right-side{
    float: left;
    width: 100%;
    z-index: 100;
  }

  .model-of-month{
    display: none;
  }

  .forthcoming-shoots{
    display: none;
  }
}
@media (max-width: 768px) {
  .desktop{display: none !important}
  .mobile { display: block ! important; }
  #camsticker{ display: none; }
  .ournetwork, #tease{display: none;}
  .navbar-ipad{padding-left: 0; padding-right: 0; display: block !important;}

  #navbar > ul > li > a {
    padding-left: 13px;
    padding-right: 13px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 15px;
  }

  #navbar ul li a.last-child{
    background: none;
  }

  .navbar-toggle{
    position: absolute;
    z-index: 99;
    top: 10px;
  }

 .navbar-toggle:before { 
    content: "MENU";
    display: block;
    position: absolute;
    left: -60px;
    top: 2px;
    font-size: 20px;
    color: #1C9DBD;
    font-weight: bold;
  }

  .navbar-toggle .icon-bar{
    height: 3px;
  }

  .homemenubrand .icon-bar {
    background-color: #1C9DBD;
  }

  .custom-xs-menu{display: none;}
  #homemenu >ul > li > a {padding: 10px 10px;}
  .bottom-45{width: 50%; display: inline-table;}
  .lastNews{margin-left: 40px;}
  .model-of-month, .forthcoming-shoots{display: none;}
  .today-release .left{font-size: 24px;}
  #twitter-widget-0 .stream { overflow-y: hidden !important;} 

  #nav-icon-footer { 
    text-align: center; 
    margin: 0;
    height: 50px; 
    line-height: 50px;
  } 

  .footer { margin-top: 0;} 

  .today-release .right{
    text-align: right;
    padding-bottom: 5px;
    padding-top: 5px;
  }

  .indicators-carousel.carousel-indicators {
    position: absolute;
    bottom: 0;
    content: "";
    width: auto;
    margin: 0 auto;
    top: -42px;
  }

  .float-img {
    top: 67px;
    left: 165px;
  }

  #homemenu{
    display:none;
  }
  .opacity-vid-pic label {
    font-family: bebas;
    font-size: 25px;
  }
  .upcomming .fullwidth-carousel .carousel-control.right{
    right: 47px;
  }
  .upcomming .fullwidth-carousel .carousel-control.left{
    left: 15px;
  }

  #view-gallery .left-side-black-bg{
    width: 48%;
    margin: 0;
    display: inline-block;
  }
  #view-gallery .panel-border-bottom{
    width: 48%;
  }
  #view-gallery .left-side-gray-bg{
    width: 48%;
    margin: 0;
    display: inline-block;
  }
  #view-gallery .suggestViewGallery{
    width: 51%;
    margin: 0;
    display: inline-block;
    vertical-align: top;
    margin-top: -65px;
  }
  #view-gallery .view-gallery-suggest-site .left-side-gray-bg{
    width: 105%;
  }
  .head-forthcoming-shoots{width: 48%;}
  #view-galler .view-gallery-suggest-site{
    padding-right: 0 !important;
   }
  #view-gallery .view-gallery-random-model{
    padding-right: 0 !important;
    width: 190%;
    margin-left: 14px;
   }
   #view-gallery .view-gallery-random-mod .left-side-gray-bg{
    width: 100% !important;
   }
    #view-gallery .view-gallery-random-model{
    padding-right: 0 !important;
    width: 190%;
    margin-left: 10px;
    padding-left: 20px;  
  }
  .view-gallery-recommended{
    display: inline-block;
    width: 50%;
    float: right;
    margin-top: -765px;
    padding-left: 15px;
    margin-right: 9px;
  }
  .head-forthcoming-shoots{
    width: 48%;
  }
  .suggest-site .btn-view-area{
    margin-left: 0;
  }
  .upcoming-col a img{
    width: 100% !important;
  }
  .suggestModelSet .suggest-site {
    padding-left: 0;
    padding-right: 0;
  }
  .blockCategories .form-group {
    width: 95% !important;
  }
  .titleList{
    margin-top: 0 !important;
  }
}
@media screen and (max-device-width: 767px){
  #homemenu >ul > li > a {
    padding: 10px 8px;
  }

  .today-release .left {
    font-size: 24px;
  }
}

@media (max-width: 736px) {
  .float-img{
    left: 406px;
  }

  .today-release .left{
    display: block;
    float: left;
  }
  .opacity-vid-pic {
    width: 92%;
    height: 95%;
  }
  .opacity-vid-pic p {
    margin-top: 20px;
    font-size: 55px;
  }
  .opacity-vid-pic label {
    font-family: bebas;
    font-size: 25px;
  }
   .model-search {
    border-bottom: 0;
  }
  .search-form {
    position: relative;
  }
  .search-form button {
    padding: 4px 12px;
  }
  .form-search-letter{
    
  }

  .btn-search-letter{
    background: url(/assets/img/bg-input.jpg) repeat-x;
    height: 43px;
    border: none;
    width: 100%;
    position: relative;
    text-align: left;
    font-weight: lighter;
    font-size: 18px;
    padding: 12px 10px;
    margin: 5px 0 10px 0;
  }

  .btn-search-letter .fa{
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    background-color: transparent;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 20px;
    padding: 11px 10px;
  }

  .form-search-letter .navbar-toggle:before{
    content: "";
  }
  .box-search-alphabet{
    position: relative;
    top: 10px;
  }

  .form-search-letter .navbar-collapse.in{
    overflow-y: hidden;
  }

  .block_lastUpdates .today-release,
  .block_lastUpdates .mobile{
    background-color: #fff;
  }
   .suggestModelSet .suggest-site{
    padding-left: 0px;
    padding-right: 0;  
  }
  #view-gallery .view-gallery-random-model{
    margin-left: 10px;
    padding-left: 20px; 
  }
  .head-forthcoming-shoots {
    width: 48%;
  }
}

@media (max-width: 667px) {
  .navbar-default .navbar-toggle{visibility: hidden;}
  .navbar-ipad{display: none;}

  #homemenu{
    padding: 0;
    background: #EBEBEB;
    display: block !important;
  }

  .height-1 {
    height: 1px !important;
  }

  #homemenu ul li { 
    padding: 0 0 0 30px; 
    border-top: 1px solid #D7D7D7;
  }

  #homemenu >ul > li > a{
    color: #454545 !important;
  }

  .navbar-nav {
    margin: 0;   
  }

  .custom-xs-menu li{
    display: inline-block;
    width: 33.33%;
    float: left;
    text-align: center;
    border-bottom: 1px solid #5E5C5D;
    padding: 0 !important;
  }

  .custom-xs-menu li a#tease{
    display: block;
  }

  .custom-xs-menu li a{
    padding: 0;
    background: url(/assets/img/bg-custom-xs-menu.jpg) repeat-x !important;
    height: 31px;
    padding: 15px 0;
    font-weight: 700;
    border-left: 1px solid #050505;
  }

  .custom-xs-menu {
    display: block !important;
  }

  .opacity-vid-pic{
    width: 92%;
    height: 95%;
  }
  .opacity-vid-pic p{
    margin-top: 20px;
    font-size: 55px;
  }
  .opacity-vid-pic label{
    font-family: bebas;
    font-size: 25px;
  }
  .download-vip{
    border-left: thick solid #E4B543 !important;
  }

  .model-info-yellow{
    padding: 0px 20px 0px 20px;
  }
  .row-vip-no-border{
    border-left: none;
  }
  .btn-view-vip{
    margin-right: 0px;
  }
  .bx-wrapper .bx-next{
    right: -190px;
  }
  .bx-wrapper .bx-prev{
    left: -190px;
  }
  .dailystrip-content .bx-wrapper{
    max-width: 255px !important;
  }
  .upcoming-landscape .float-img{
    left: 322px;
  }
  .upcomming .fullwidth-carousel .carousel-control.left{
    left: 15px;
  }
  .upcomming .fullwidth-carousel .carousel-control.right{
    right: 45px;
  }
  .model-search {
    border-bottom: 0;
  }
  .search-form {
    position: relative;
  }
  .search-form button {
    padding: 4px 12px;
  }
  .form-search-letter{
    
  }

  .btn-search-letter{
    background: url(/assets/img/bg-input.jpg) repeat-x;
    height: 43px;
    border: none;
    width: 100%;
    position: relative;
    text-align: left;
    font-weight: lighter;
    font-size: 18px;
    padding: 12px 10px;
    margin: 5px 0 10px 0;
  }

  .btn-search-letter .fa{
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    background-color: transparent;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 20px;
    padding: 11px 10px;
  }

  .form-search-letter .navbar-toggle:before{
    content: "";
  }
  .box-search-alphabet{
    position: relative;
    top: 10px;
  }

  .form-search-letter .navbar-collapse.in{
    overflow-y: hidden;
  }

  .block_lastUpdates .today-release,
  .block_lastUpdates .mobile{
    background-color: #fff;
  }
  #view-gallery .view-gallery-random-model{
    padding-right: 0 !important;
    width: 190%;
    margin-left: -10px;
    padding-left: 40px;  
  }
  .view-gallery-recommended{
    display: inline-block;
    width: 50%;
    float: right;
    margin-top: -865px;
    padding-left: 15px;
    margin-right: 9px;
  }
  .head-forthcoming-shoots{
    width: 48%;
  }
  .suggest-site .btn-view-area{
    margin-left: 0;
  }
  .suggestModelSet .suggest-site{
    padding-left: 0px;
    padding-right: 0;  
  }
}

@media (max-width: 568px) {
  .custom-xs-menu {
    display: none;
  }

  .right-side {
    background: none;
    margin-top: 10px;
  }

  .nav-bg {
    background: url(/assets/img/menu.png) repeat-x;
    background-size: auto 100%;
  }

  .container-mobile {
    padding-left: 25px;
    margin-right: 10px;
  }

  .download-zone,
  .view-video-zone-pink,
  .view-video-zone-blue{
    border-left: none;
  }

  .row-info-pink{
    border-left: thick solid #EE008E;
    padding-left: 10px;
    margin-left: -20px;
  }

  .row-info-blue{
    border-left: thick solid #1D9DBD;
    padding-left: 10px;
    margin-left: -20px;  
  }

  .border-left-blue{
    border-left: 2px solid #1D9DBD;
    padding-left: 15px;
    margin-left: 0px;
    text-align: left;
    border-right: 2px solid;
    padding-right: 15px;
  }

  .border-left-parent{
    border-left: thick solid #1D9DBD;
    padding-left: 15px;
    margin-left: 0px;
    text-align: left;  
  }

  .border-left-blue i{
    padding-left:10px;
  }

  .btn-view-area{
    margin-left: -35px;
    margin-top: 10px;
    line-height: 0;
    margin-right: -30px;
  }

  .block-follow-news{
    padding-right: 0;
  }

  .block-lastNew{
    padding-right: 0;
  }

  .margin-left{
    margin-left: 15px;
    margin-right: auto;
  }

  .img-responsive{
    width: 100%;
  }

  .custom-xs-menu li{
    width: 33.33%;
    padding: 0 !important;
    border-bottom: 0;
    border-top: 1px solid #5D5B5C !important;
  }

  .custom-xs-menu li a{
    font-size: 18px !important;
  }

  .tab-release-slide{
    overflow: hidden;
    padding-right: 0;
    margin-left: 12px;
  }

  .fullwidth-carousel .carousel-control .fa-angle-left.fa-2x{
    padding-left: 10px;
  }

  .float-img {
    top: 4 2px;
  }

  .fullwidth-carousel .carousel-control{
    top: 105px;
    z-index: 100;
  }

  .custom-month-canler{
    padding-right: 10px;
    font-size: 20px;
    margin-top: -10px; 
  }

  .text-title-lastNew{
    margin-bottom: 0;
    font-size: 20px;
    line-height: 20px; 
    height: 44px;
    overflow: hidden;
    font-size: 15px;
  }

 .custom-style-a{
    color: #fff;
    font-size: 20px; 
    line-height: 18px;
  }

  .btn-blue-upcoming {
    background: url("/assets/img/button_blue.jpg") repeat-x center;
    font-family: bebas;
    font-size: 18px;
    height: 36px;
    width: 100%;
    vertical-align: middle;
  }

  #carousel-upcomingrelease .release-pic  a  span{
    width: 152px;
    height: 257px;
    border-bottom: 0;
  }

  .custom-min-height-upcomming{
    min-height: 0;
  }

  .padding-right-0{
    padding-right: 0;
  }

  #carousel-upcomingrelease .release-pic{
    margin-bottom: 0;
  }

  div#upcoming_date {
    font-weight: normal;
    font-size: 22px;
    padding-bottom: 0;
  }

  #carousel-upcomingrelease .indicators-carousel.carousel-indicators{
    top: -55px;  
  }

  .upcoming-release .left{
    padding-bottom: 0 !important;
  }

  .daily-strip-tap-menu > li > a:hover,
  .daily-strip-tap-menu > li > a:active,
  .daily-strip-tap-menu > li > a:focus,
  .daily-strip-tap-menu > li > a:visited{
    background-size: 100% 100%; 
  }

  .tab-active{
    background-size: 100% 100% !important;
  }

  .dailystrip-content .bx-wrapper{
    max-width: 255px !important;
  }

 .bx-wrapper .bx-prev{
    left: -140px;
  }

 .bx-wrapper .bx-next{
    right: -140px;
  }

  .border-none-mobi{
    display: inline-block;
    border-left: none !important;
    padding-left: 0px !important;
  }

  .model-info-blue {
    padding-right: 15px;
    margin-right: 15px;
  }

  .text-blue {
    color: #1D9DBD;
    font-weight: normal;
  }

  .margin-left-10 {
    margin-left: 10px;
  }

  .upcoming-col {
    padding:0px;
  }
  .float-img{
    width: 220px;
    height: 174px;
  }
  .model-info-pink,
  .btn-blue-model{
    width: 100%;
  }
  .no-margin-568 {
    margin: 0 ! important;
  }

  .caption-updates{
    padding-left: 0;
  }

  .btn-pink-model{
    width: 100%;
  }

  .text-name{
    padding: 8px 0;
    background-color: #F5F3F4;
    text-align: center;
    height: 46px;
    overflow: hidden;
  }

  .model-border-left-blue{
    border-left: 3px solid #1D9DBD;
  }

  .model-border-left-pink{
    border-left: 3px solid #EE009A;
  }

  .homemenubrand > button:hover{
    background-color: transparent;
  }

  .today-release .left{
    margin: 0 -15px;
    display: inline-block;
    font-size: 26px;
  }

  .today-release .right{
    display: inline-block;
    text-align: right;
    float: right;
  }
  .upcoming-release .right{
    color:#fff;
    padding: 0;
  }

  .upcoming-landscape .float-img {
    top: 69px;
    left: 318px;
  }

  .search-form button{
    padding: 4px 12px;
  }

  .search-form button i{
    color: #222222;  
  }

  .model-search{
    border-bottom: 0;
  }

  .select-letter{
    background: url(/assets/img/bg-input.jpg) repeat-x;
    height: 43px;
    border: none;
    width: 100%;
  }

  .search-letter{
    position: relative;
    margin-top: 10px;
  }

  .search-letter button{
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    background-color: transparent;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 20px;
    padding: 11px 6px;
  }

  .form-search-letter{
    
  }

  .btn-search-letter{
    background: url(/assets/img/bg-input.jpg) repeat-x;
    height: 43px;
    border: none;
    width: 100%;
    position: relative;
    text-align: left;
    font-weight: lighter;
    font-size: 18px;
    padding: 12px 10px;
    margin: 0 0 10px 0;
  }

  .btn-search-letter .fa{
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    background-color: transparent;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 20px;
    padding: 11px 10px;
  }

  .form-search-letter .navbar-toggle:before{
    content: "";
  }
  .box-search-alphabet{
    position: relative;
    top: 10px;
  }

  .form-search-letter .navbar-collapse.in{
    overflow-y: hidden;
  }

  #homemenu{
    padding: 0;
    background: #EBEBEB;
    display: block !important;
  }

  .height-1 {
    height: 1px !important;
  }

  #homemenu ul li { 
    padding: 0 0 0 30px; 
    border-top: 1px solid #D7D7D7;
  }

  #homemenu >ul > li > a{
    color: #454545 !important;
  }

  .navbar-nav {
    margin: 0;   
  }

  .custom-xs-menu li{
    display: inline-block;
    width: 33.33%;
    float: left;
    text-align: center;
    border-bottom: 1px solid #5E5C5D;
  }

  .custom-xs-menu li a{
    padding: 0;
    background: url(/assets/img/bg-custom-xs-menu.jpg) repeat-x !important;
    height: 31px;
    padding: 15px 0;
    font-weight: 700;
    border-left: 1px solid #050505 ;
  }

  .custom-xs-menu {
    display: block !important;
  }

  #tease {
    display: block !important;
  }

  .navbar-default .navbar-toggle {
    border-color: transparent;
  }

  .navbar-default .navbar-toggle .icon-bar {
    background-color: transparent;
  }
  .opacity-vid-pic{
    width: 90%;
    height: 94%;
  }
  .opacity-vid-pic p{
    margin-top: 20px;
  }
  .opacity-vid-pic label{
    font-family: bebas;
  }
  .download-vip{
    border-left: none !important;
  }

  .model-info-yellow{
    padding: 0px 20px 0px 20px;
  }
  .row-vip-no-border{
    border-left: thick solid #E4B543
  }
  .btn-view-vip{
    margin-right: -35px;
  }
  .bxwapper-model .bx-wrapper .bx-next{
    right: -145px;
  }
  .bxwapper-model .bx-wrapper .bx-prev{
    left: -145px;
  }

  .btn-see-all-comment {
    margin-left: 0px;
  }
  #view-gallery .view-gallery-random-model{
    padding-right: 0 !important;
    width: 190%;
    margin-left: -10px;
    padding-left: 40px;  
  }
  .view-gallery-recommended{
    display: inline-block;
    width: 50%;
    float: right;
    margin-top: -1040px;
    padding-left: 10px;
  }
  .head-forthcoming-shoots{
    width: 48%;
  }
  .suggest-site .btn-view-area{
    margin-left: 0;
  }
}
@media (max-width: 480px) {
  .latest_news_body {
    height: 140px !important;
    overflow-y: hidden;
  }

  .list-inline > li {
      display: inline-block;
    padding-right: 13px;
    padding-left: 13px;
  }

  #carousel-latest-news {
    min-height: 90px;
    overflow: hidden;
  }

  .news_date {
    background: url(/assets/img/icon_calendar.png) no-repeat left;
    width: 100%;
    height: 50px;
    padding-right: 7px;
    font-size: 18px;
    margin-top: 0px;
    vertical-align: middle;
  }

  .navbar-toggle:before{
    left: -50px;
  }

  .homemenubrand > button {
    right: -15px;
  }

  .homemenubrand > button:hover {
    background-color: transparent;
  }

  .upcoming-release .left{
    padding-bottom: 15px;
  }

  .custom-left{
    text-align: left;
  }

  .today-release .right{
    text-align: left;
    padding-bottom: 5px;
    padding-top: 5px;
  }

  .indicators-carousel.carousel-indicators {
    right: 0px;
    left: auto;
    position: absolute;
    bottom: 0;
    content: "";
    width: auto;
  }
}

@media (max-width: 414px) {
  .bottom-45{
    width: 100%
  }

  .lastNews{
    margin-left: -15px;
  }

  /*.left-side-block{
    margin-right: -30px;
  }*/

  .border-left-blue{
    visibility: hidden;
  }

  .caption{
    padding-right: 0;
  }

  .caption0{
    padding-left: 15px;
  }  

  .today-release .right{
    float: left;
    padding-left: 0;
  }

  .upcoming-landscape .float-img{
    left: 164px;
    top: 112px;
  }
  .today-release .right {
    text-align: right;
    float: right;
    padding-right: 0;
  }
  .yesterday-release .right {
    text-align: left;
    float: left;
    padding-left: 0;
    padding-right: 26px;
    font-size: 23px;
  }
  .indicators-carousel.carousel-indicators {
    top: -43px;
  }
  .today-release .left {
    margin: 0 -15px;
    display: inline-block;
    font-size: 26px;
  }
  div#upcoming_date {
    float: left;
    font-weight: normal;
    font-size: 27px;
    padding-bottom: 0;
  }
  #carousel-upcomingrelease .indicators-carousel.carousel-indicators {
    top: -50px;
  }
  .bx-wrapper .bx-next{
    right: -63px;
  }
  .bx-wrapper .bx-prev{
    left: -63px;
  }
  .dailystrip-content .bx-wrapper{
    max-width: 255px !important;
  }
  .opacity-vid-pic{
    width: 86%;
    height: 91%;
  }
  .opacity-vid-pic p{
    font-size: 27px;
    margin-top: 14px;
  }
  .opacity-vid-pic label{
    font-size: 15px;
  }
  .upcomming .fullwidth-carousel .carousel-control.left{
    left: 0px;
  }
  .upcomming .fullwidth-carousel .carousel-control.right{
    right: 30px;
  }
  .caption0 {
    padding-left: 0px;
  }
  .bxwapper-model .bx-wrapper .bx-next{
    right: -63px;
  }
  .bxwapper-model .bx-wrapper .bx-prev{
    left: -63px;
  }
  .detail-models,
  .read-profile,
  .suggest-site{
    margin-right: 0px;
  }
  .btn-suggest-modelSet{
    margin-left: 0;
  }

  .current-month, .previous-month{
    padding: 0 0px 0 15px; 
    margin-right: 0px;
  }
  .current-month{
    margin-top: 10px;
  }

  .view-gallery-suggest-site {
    margin-left: 0px !important;
    margin-right: 0px;
  }

  .view-gallery-recommended, .view-gallery-random-model {
    margin-right: 0px;
    margin-left: 0px !important;
  }

  .viewVideo{
    width: 75px !important;
    height: 75px !important;
    margin: 65px 0 0 135px !important;
  }
  .viewVideo p{
    font-size: 23px !important;
  }
  .form-details label{
    font-size: 17px !important;
    line-height: 19px !important;
  }
  .suggestModelSet .suggest-site {
    padding-left: 0;
    padding-right: 0;
  }
  #view-gallery .left-side-black-bg,
  #view-gallery .panel-border-bottom,
  #view-gallery .left-side-gray-bg{
    width: 100%;
  }
  .view-gallery .suggest-site,
  .view-gallery .view-gallery-random-model{
    display: none;
  }
  .blockCategories .form-group {
    width: 90% !important;
  }
}

@media (max-width: 375px) {
  .indicators-carousel.carousel-indicators{
    top: -43px;
  }

  #carousel-upcomingrelease .indicators-carousel.carousel-indicators{
    top: -50px;
  }

  .upcoming-landscape .float-img {
    top: 105px;
    left: 125px;
  }

  .bottom-45{
    width: 100%
  }

  .lastNews{
    margin-left: -15px;
  }

  /*.left-side-block{
    margin-right: -30px;
  }*/

  .border-left-blue{
    visibility: hidden;
  }

  .caption{
    padding-right: 0px;
  }

  .caption0{
    padding-left: 0px;
  }

  .news_date{
    padding-right: 40px;
  }

  .custom-month-canler{
    padding-right: 40px;
  }

  .today-release .right{
    text-align: right;
    float: right;
    padding-right: 0;
  }

  .yesterday-release .right{
    text-align: left;
    float: left;
    padding-left: 0;
    padding-right: 26px;
  }

  div#upcoming_date{
    float: left;
  }
  .download-vip{
    border-left: none !important;
  }
  .model-info-yellow{
    padding-left: 20px;
  }
  .row-vip-no-border{
    border-left: thick solid #E4B543;  
    margin-bottom: 10px;
  }
  .btn-view-vip{
    margin: 0 -35px 0 -20px;
    padding-left: 0px;
  }
  .bx-wrapper .bx-next{
    right: -49px;
  }
  .bx-wrapper .bx-prev{
    left: -49px;
  }
  .dailystrip-content .bx-wrapper{
    max-width: 247px !important;
  }
  .opacity-vid-pic{
    width: 86%;
    height: 90%;
  }
  .opacity-vid-pic p{
    font-size: 27px;
    margin-top: 10px;
  }
  .opacity-vid-pic label{
    font-size: 15px;
  }
  .upcomming .fullwidth-carousel .carousel-control.left{
    left: 0px;
  }
  .upcomming .fullwidth-carousel .carousel-control.right{
    right: 30px;
  }
  .bxwapper-model .bx-wrapper .bx-next{
    right: -49px;
  }
  .bxwapper-model .bx-wrapper .bx-prev{
    left: -49px;
  }
  .detail-models,
  .read-profile,
  .suggest-site{
    margin-right: 0px;
  }
  .btn-suggest-modelSet{
    margin-left: 0;
  }

  .current-month, .previous-month{
    padding: 0 0px 0 15px; 
    margin-right: 0px;

  }
  .current-month{
    margin-top: 10px;
  }

  .view-gallery-suggest-site {
    margin-left: 0px !important;
    margin-right: 0px;
  }

  .view-gallery-recommended, .view-gallery-random-model {
    margin-right: 0px;
    margin-left: 0px !important;
  }


  .homemenubrand > button:hover {
    background-color: none;
  }

  .today-release .left{
    font-size: 26px;
  }

  .today-release .right{
    float: left;
    padding: 10px 0 0 0;
  }

  .upcoming-landscape .float-img {
    top: 110px;
    left: 69px;
  }

  .bottom-45{
    width: 100%;
    display: inline;
  }

  .lastNews{
    margin-left: 0;
  }

  .collapse.in{display: block !important;}
  .collapse{display: none !important;}
  .collapse.hide{display: none !important;}

  #homemenu{
    padding: 0;
    background: #EBEBEB;
  }

  #homemenu ul li { 
    padding: 0 0 0 30px; 
    border-top: 1px solid #D7D7D7;
  }

  #homemenu >ul > li > a{
    color: #454545 !important;
  }

  .navbar-nav {
    margin: 0;   
  }

  .custom-xs-menu li{
    display: inline-block;
    width: 33.33%;
    float: left;
    text-align: center;
    border-bottom: 1px solid #5E5C5D;
  }

  .custom-xs-menu li a{
    padding: 0;
    background: url(/assets/img/bg-custom-xs-menu.jpg) repeat-x !important;
    height: 31px;
    padding: 15px 0;
    font-weight: 700;
    border-left: 1px solid #050505 ;
  }

  .custom-xs-menu {
    display: block !important;
  }

  #tease {
    display: block !important;
  }

  .navbar-default .navbar-toggle {
    border-color: transparent;
  }

  .navbar-default .navbar-toggle .icon-bar {
    background-color: transparent;
  }

  /*.left-side-block{
    margin-left: -30px !important;
    margin-right: -15px;
  }*/

  .caption{ padding-right: 0px;}

  .caption0{padding-left: 0px;}

  .indicators-carousel.carousel-indicators{
    top: -40px;
  }

  #carousel-upcomingrelease .indicators-carousel.carousel-indicators{
    top: -45px;
  }
  .detail-models,
  .read-profile,
  .suggest-site{
    padding: 0 15px 0 30px;
  }
  .btn-suggest-modelSet{
    margin-left: 0px; 
  }
  .download-vip{
    border-left: none !important;
  }

  .model-info-yellow{
    padding: 0px 20px 0px 20px;
  }
  .row-vip-no-border{
    border-left: thick solid #E4B543
  }
  .btn-view-vip{
    margin-right: -35px;
  }
  .current-month, .previous-month{
    padding: 0 15px 0 30px; 
  }
  .current-month{
    margin-top: 10px;
  }
  .becky-sets .left{
    font-size: 25px !important;
    line-height: 30px !important;
    padding-left: 0 !important;
  }
  .becky-sets .right label{
    color: #000;
    font-weight:normal;
  }
  select#ddSet {
    margin-right: 10px;
    color: #000;
  }
  .opacity-vid-pic{
    width: 82%;
    height: 89%;
  }
  .opacity-vid-pic p{
    font-size: 22px;
    margin-top: 10px;
  }
  .opacity-vid-pic label{
    font-size: 12px;
    font-family: bebas;
  }
  .bx-wrapper .bx-next{
    right: -20px;
  }
  .bx-wrapper .bx-prev{
    left: -20px;
  }
  .dailystrip-content .bx-wrapper{
    max-width: 260px !important;
  }
  .bxwapper-model .bx-wrapper{
    max-width: 255px !important;
  }
  .bxwapper-model .bx-wrapper .bx-next{
    right: -45px;
  }
  .bxwapper-model .bx-wrapper .bx-prev{
    left: -45px;
  }

  .view-gallery-suggest-site {
    margin-left: -15px !important;
    margin-right: 0px;
  }

  .view-gallery-recommended, .view-gallery-random-model {
    margin-right: 0px;
    margin-left: 0px !important;
  }

  #view-gallery .suggestViewGallery{
    display: none;
  }
  #view-gallery .left-side-gray-bg,
  #view-gallery .left-side-black-bg,
  #view-gallery .panel-border-bottom{
    width: 100%;
  }
  .viewVideo{
    width: 75px !important;
    height: 75px !important;
    margin: 55px 0 0 115px !important;
  }
  .viewVideo p{
    font-size: 23px !important;
  }
  .form-details label{
    font-size: 17px !important;
    line-height: 19px !important;
  }
  .view-gallery-recommended{
    display: block;
    width: 100%;
    float: none;
    margin-top: 0;
    padding-left: 0;
  }
  .view-gallery-recommended{
    margin-left: 15px !important;
    padding-right: 30px;
  }
  .suggestModelSet .suggest-site {
    padding-left: 15px;
  }
  .modelsetLeft .detail-models,
  .modelsetLeft .read-profile{
    padding: 0 0 0 15px;
  }
  .blockCategories .form-group {
    width: 90% !important;
  } 
}

@media (max-width: 320px) {
  .homemenubrand > button:hover {
    background-color: none;
  }

  .today-release .left{
    font-size: 26px;
  }

  .today-release .right{
    float: left;
    padding: 10px 0 0 0;
  }

  .upcoming-landscape .float-img {
    top: 110px;
    left: 69px;
  }

  .bottom-45{
    width: 100%;
    display: inline;
  }

  .lastNews{
    margin-left: 0;
  }

  .collapse.in{display: block !important;}
  .collapse{display: none !important;}
  .collapse.hide{display: none !important;}

  #homemenu{
    padding: 0;
    background: #EBEBEB;
  }

  #homemenu ul li { 
    padding: 0 0 0 30px; 
    border-top: 1px solid #D7D7D7;
  }

  #homemenu >ul > li > a{
    color: #454545 !important;
  }

  .navbar-nav {
    margin: 0;   
  }

  .custom-xs-menu li{
    display: inline-block;
    width: 33.33%;
    float: left;
    text-align: center;
    border-bottom: 1px solid #5E5C5D;
  }

  .custom-xs-menu li a{
    padding: 0;
    background: url(/assets/img/bg-custom-xs-menu.jpg) repeat-x !important;
    height: 31px;
    padding: 15px 0;
    font-weight: 700;
    border-left: 1px solid #050505 ;
  }

  .custom-xs-menu {
    display: block !important;
  }

  #tease {
    display: block !important;
  }

  .navbar-default .navbar-toggle {
    border-color: transparent;
  }

  .navbar-default .navbar-toggle .icon-bar {
    background-color: transparent;
  }

  .left-side-block{
    margin-left: -30px !important;
    margin-right: -15px;
  }

  .caption{ padding-right: 0px;}

  .caption0{padding-left: 0px;}

  .indicators-carousel.carousel-indicators{
    top: -40px;
  }

  #carousel-upcomingrelease .indicators-carousel.carousel-indicators{
    top: -45px;
  }
  .detail-models,
  .read-profile,
  .suggest-site{
    padding: 0 15px 0 30px;
  }
  .modelsetLeft .detail-models,
  .modelsetLeft .read-profile{
    padding: 0 15px 0 30px; 
  }
  .btn-suggest-modelSet{
    margin-left: 0px; 
  }
  .download-vip{
    border-left: none !important;
  }

  .model-info-yellow{
    padding: 0px 20px 0px 20px;
  }
  .row-vip-no-border{
    border-left: thick solid #E4B543
  }
  .btn-view-vip{
    margin-right: -35px;
  }
  .current-month, .previous-month{
    padding: 0 15px 0 30px; 
  }
  .current-month{
    margin-top: 10px;
  }
  .becky-sets .left{
    font-size: 25px !important;
    line-height: 30px !important;
    padding-left: 0 !important;
  }
  .becky-sets .right label{
    color: #000;
    font-weight:normal;
  }
  select#ddSet {
    margin-right: 10px;
    color: #000;
  }
  .opacity-vid-pic{
    width: 82%;
    height: 89%;
  }
  .opacity-vid-pic p{
    font-size: 22px;
    margin-top: 10px;
  }
  .opacity-vid-pic label{
    font-size: 12px;
    font-family: bebas;
  }
  .bx-wrapper .bx-next{
    right: -20px;
  }
  .bx-wrapper .bx-prev{
    left: -20px;
  }
  .dailystrip-content .bx-wrapper{
    max-width: 255px !important;
  }
  .bxwapper-model .bx-wrapper{
    max-width: 255px !important;
  }
  .bxwapper-model .bx-wrapper .bx-next{
    right: -20px;
  }
  .bxwapper-model .bx-wrapper .bx-prev{
    left: -20px;
  }

  .view-gallery-suggest-site {
    margin-left: 0px !important;
    margin-right: -15px;
  }

  .view-gallery-random-model {
    margin-right: 0px;
    margin-left: 0px !important;
  }
  .view-gallery-recommended{
    margin-left: 15px !important;
    padding-right: 30px;
  }
  .viewVideo{
    width: 75px !important;
    height: 75px !important;
    margin: 25px 0 0 75px !important;
  }
  .viewVideo p{
    font-size: 23px !important;
  }
  .form-details label{
    font-size: 17px !important;
    line-height: 19px !important;
  }
  .pic-profile{
    max-width: 100%;
  }
  .text-voting-date{
    line-height: 21px !important;
  }
  .blockListFont .control-label{
    font-size: 20px !important
  }
  .blockText-votingDate .control-label{
    line-height: 20px !important;
    font-size: 17px !important;
  }
  .blockText-votingDate .form-control-static{
    font-size: 17px;
    line-height: 18px;
  }
  .suggestModelSet .suggest-site {
    padding-left: 0;
    padding-right: 15px;
  }
  .blockCategories .form-group{
    width: 90% !important;
  }
  .site-logo {
    max-width: 70% !important;
  }
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
  body{
    overflow-x: auto;
  }

.page_num, 
.page_num_total {
    text-indent: 0px;
    border-radius: 0px;
    height: 31px;
    width: 17px;
    border: none;
    font-size: 17px;
    background-color: #A8A8A8;
    border-left: #A8A8A8;
    margin:1px;
    padding:4px;
  }
