.block-titleForm{
	vertical-align: bottom;
	border-bottom: 5px solid #2ba3c1;
}
.textBold-blue{
  font-size: 30px;
  font-family: 'Myriad Pro Bold Condensed';
  color: #2ba3c1;
  line-height: 30px;
}
.text-create{
	vertical-align: bottom;
	color: #000;
	font-weight: bold;
	line-height: 30px
}
.pic-avatar{
	margin-bottom: 0;
}
.info-group{
	margin-bottom: 0px;
}
.lable-name{
	color: #4d4d4d;
	font-size: 18px;
	margin-top: 5px;
	margin-bottom: 0;
	line-height: 18px;
}
.location{
	padding-right: 0;
	line-height: 13px;
	margin-bottom: 15px;
}
.label-location{
	color: #4d4d4d;
	font-size: 13px;
	text-transform: capitalize;
}
.location span,
.info span{
	font-size: 12px;
	padding-left: 5px;
	font-family: Arial;
	color: #4d4d4d;
}
.info{
	margin-bottom: 5px;
	line-height: 12px;
}
.viewTopicTable>tbody>tr>td{
	padding: 0 0 0 0;
	border: 1px solid #ddd;
}
.col-left{
	width: 19%;
}
.col-right{
	width: 81%;
}
.left-table{
	padding: 15px;
}
.action-topic li{
	display: inline-block;
	padding: 0 8px;
	border-right: 1px solid #000;
	line-height: 13px;
}
.action-topic li:last-child{
	border-right: 0;
}
.action-topic li a{
	color: #2ba3c1;	
	font-weight: bold;
}
.action-topic li a:hover{
	text-decoration: none;
}

.content-detail {
	padding-left: 10px;
}

@media (max-width: 320px) {}