.detailModel-profile{
    padding: 0 15px 0 0px;	
}
.detailModel-profile .left-side-black-bg a{
	color: #fff !important;
}
.titleList{
    font-size: 18px;
    font-family: 'bebas';
    color: #F62B90;
    text-transform: uppercase;
    margin-top: 20px;	
    word-spacing: 5px;
}
.modelProfile{
	margin: 0 -15px;
	padding-bottom: 0;
}
.modelProfile li{
	border-top: 1px solid #C1C1C1;
	padding: 10px 15px;
	margin: 0;
}
.modelProfile li:last-child{
	border-bottom: 1px solid #C1C1C1;
}
.modelProfile li a{
	font-family: 'Myriad Pro Condensed';
	font-weight: lighter;
	font-size: 18px;
}
.ratingPoint{
	font-family: 'Myriad Pro Condensed';
	font-weight: lighter;
	color: #000;
	font-size: 20px;	
	margin-top: 5px;
}
.name-profile .left{
	font-size: 25px !important;
    line-height: 30px !important;
    padding-left: 15px !important;	
}
.vitalStats-profile{
	background-color: #fff;
	padding-bottom: 20px;
}
.vitalStats-title{
	font-size: 26px;
    font-family: 'Myriad Pro Condensed';
    color: #EE008E;
    text-transform: capitalize;
    word-spacing: 5px;	
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 10px;
}
.form-details .form-group{
	margin-bottom: 0;
}
.form-details .control-label{
	text-align: left;
	font-family: 'Myriad Pro Condensed';
	font-size: 20px;
	padding-top: 0;
} 
.form-details .form-control-static{
	padding-bottom: 0;
	font-weight: bold;
	font-family: 'Myriad Pro Condensed';
	font-size: 20px;
	padding-top: 0;
}
.blockListFont{
	margin-top: 20px;
}
.blockListFont .control-label{
	font-size: 27px;
	border-right: 1px solid #EE008E;
	padding-top: 0;
	line-height: 5px;
	font-family: sans-serif;
}
.blockListFont .control-label:last-child{
	border-right: 0;
}
.blockListFont .control-label i{
	padding-right: 10px;
}
.vitalStats-titleRight{
	color: #16A0C4;
	font-size: 26px;
    font-family: 'Myriad Pro Condensed';
    text-transform: capitalize;
    word-spacing: 5px;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 10px;
}
.text-voting-date{
	color: #16A0C4;
	font-size: 22px;
	font-family: 'Myriad Pro Condensed';
	text-transform: uppercase;
	font-weight: lighter;
	word-spacing: 2px;
	line-height: 15px;
}
.blockText-votingDate{
	padding-left: 0;
}

.form-details .margin-bottom30{
	margin-bottom: 30px;
}
.formQuestionnaire .control-label,
.formQuestionnaire .form-control-static{
	padding-top: 0;
	padding-bottom: 0;
	text-align: left;
}
.videoPlay{
	position: relative;
	padding: 10px 0;
}
.videoPlay img{
	max-width: 100%;
}
.viewVideo{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    width: 85px;
    height: 90px;
    top: 0;
    left: 0;
    right: 0;
    margin: 70px 0 0 155px;
    border-radius: 5px;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    bottom: 0;
    padding: 5px 20px;
}
.viewVideo p{
    margin-bottom: 0;
    font-size: 28px;
    margin-bottom: 5px;	
}
.form-details label{
	font-size: 22px;
	line-height: 23px;
	font-weight: lighter;
}