img{
  max-width: 100%;
}
.text-link-blue,
.text-td-blue{
  color: #2A93C2;
  text-transform: capitalize;
  font-family: 'Myriad Pro Bold Condensed';
  font-size: 16px;
}
.text-blue{
  color: #29A5C1;
  font-family: 'Myriad Pro Bold Condensed';
}
.text-pink{
  color: #fc0082;
  font-size: 20px;
  text-transform: uppercase;
  font-family: 'Myriad Pro Bold Condensed';
}
.icon-pink{
  color: #fc0082;  
}
.left-note  li{
  display: inline-block;
  padding: 0 10px;
  border-right: 1px solid #000;
}
.left-note  li:last-child{
  border-right: 0;
}
.table-responsive{
  overflow: hidden;
}
.allTable>tbody>tr:nth-of-type(odd){
  background-color: #fff;
}
.allTable>tbody>tr:nth-of-type(even){
  background-color: #f9f9f9;
}
.allTable thead > tr > th,
.allTable thead:first-child > tr:first-child > th:first-child{
  padding-bottom: 3px;
}
.allTable thead > tr > th.textBold-blue{
  font-size: 30px;
  font-family: 'Myriad Pro Bold Condensed';
  color: #2ba3c1;
  line-height: 30px;
}
.allTable tbody > tr > td p{
  color: #000;
  font-family: 'Myriad Pro Bold Condensed';
  font-size: 16px;
}

/*---------------------------block-paging-----------------------*/
.pagination-custom{
  margin: 0;
}
.time-pastDay,
.number-pages,
.see-other-forum{
  border: 1px solid rgb(169, 169, 169);
  border-radius: 5px;
  color: #A9A9A9;
  font-size: 12px;
  padding: 2px 6px 2px 3px;
}
.text-paging{
  color: #000;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 20px;
  font-family: 'Myriad Pro Condensed';
  word-spacing: 2px;
}
.block-time-day,
.block-text-topic,
.block-select-page{
  display: inline-block;
  vertical-align: middle;
  margin: 0 10px;
}
.pagination-custom>li{
  vertical-align: bottom;
}
.pagination-custom>li:last-child>a, 
.pagination-custom>li:last-child>span,
.pagination-custom>li>.text-pink{
  border: 0;
  padding: 0;
}
.pagination-custom>li>a{
  float: none;
}
.pagination-custom>li>a:hover{
  background-color: transparent;
}
.pagination-custom>li>a, 
.pagination-custom>li>span{
  margin-left: 0;
  vertical-align: middle;
}
.pagination-custom .text-pink-page{
  padding-right: 10px;
}
/*---------------------End block-paging--------------------------*/