.font-regular-text{
  font-family: 'Myriad Pro Regular';
}
.font-cond-text{
  font-family: 'Myriad Pro Condensed';
}
.green{color: #37B54A;}
.pink{color: #FF0084;}
.blue-view-gallery{color: #0053AA;}
.red{color: #F21644;}
.yellow{color: #FDD14C;}
.bg-gray{background-color: #F3F3F3;}
.bg-white{background-color: #fff;}
.textCenter{text-align: center;}
.textLeft{text-align: left;}

.font-regular-text a i.fa.fa-download.pink{
  width: 27px;
  padding-right: 5px;
  padding-left: 0;
}
.prestige-tease h3,
.prestige-tease h5,
.block-set-option h6,
.block-latest-comment h6,
.block-see-sets h6,
.block-tease-factor h6{
	font-size: 25px;
	font-family: 'Myriad Pro Condensed';
	color: #F62B90;
	text-transform: uppercase;
	margin-top: 10px;	
  word-spacing: 8px;
}
.prestige-tease h5{
  word-spacing: 4px;
  margin-bottom: 20px;
}
.block-set-option h6,
.block-latest-comment h6,
.block-see-sets h6{
  word-spacing: 0px;
  margin-top: 40px;
}
.block-tease-factor h6{
  padding: 15px;
  word-spacing: 0px;
}
.release-time h4{
	font-size: 26px;
  font-family: 'Myriad Pro Condensed';
  color: #F62B90;
  margin-top: 20px;
  margin-bottom: 5px;
  word-spacing: 3px;
  line-height: 24px;
}
.release-time .release-date{
	font-size: 24px;
  font-family: 'Myriad Pro Condensed';
  text-transform: uppercase;
  word-spacing: 0px;
  margin-bottom: 15px;
  line-height: 20px;
}
.caption-left-view-gallery{
	font-size: 21px;
  margin: 15px 0px;
}
.block-set-option h6{margin-top: 35px;}
.list-set-option{margin: 0 -15px;}
.list-set-option li{
  border-top: 1px solid #C1C1C1;
  padding: 5px 15px;
}
.list-set-option li:last-child{
  border-bottom: 1px solid #C1C1C1; 
}
.list-set-option li a{
  color: #404040;
  font-size: 20px;
  font-family: 'Myriad Pro Condensed';
  vertical-align: top;
  line-height: 30px;
}
.list-set-option li a:hover{
  text-decoration: none;
}
.list-set-option li a i{
  font-size: 30px;
  margin-right: 12px;
}
.content-lastComment{
  background-color: #fff;
  padding: 20px 10px 15px;
  color: #313131;
}
.blockquote{
  font-size: 45px;
  color: #313131;
  font-family: 'Century Schoolbook';
  font-weight: bold;
  margin: 0;
  padding: 0;
  line-height: 25px;
}
.content-lastComment strong{
  font-family: 'Myriad Pro Condensed';
  font-size: 21px;
}
.content-lastComment .text-detail{
  font-family: 'Myriad Pro Condensed';
  font-size: 20px;  
  margin-bottom: 0;
}
.block-latest-comment .no-border{
  word-spacing: 2px;
}
.block-latest-comment .btn-view-area{
  margin-top: 15px;
}
.list-see-sets li{
  padding: 2px 0 0 0;  
}
.list-see-sets li a{
  font-family: 'Myriad Pro Condensed';
  font-size: 18px;
  color: #313131;
  position: relative;
}
.list-see-sets li a.active{
  text-decoration: underline;
}
.block-tease-factor{
  background-color: #323232;
  margin: 30px -15px 0px;
}
.block-tease-factor .form-group{
  margin: 0 -15px 15px;
  padding-right: 0;
}
.block-tease-factor .form-group label{
  font-family: 'Myriad Pro Condensed';
  font-size: 18px;
  color: #fff;
  margin-top: 5px;
}
.block-tease-factor .form-group select{
  height: 35px;
  border-radius: 5px;
  padding-left: 5px;
}
.block-tease-factor .btn-view-area{
  float: right;
  margin: 0 0 50px 0;
}
.view-gallery .suggest-site{
  margin-left: 0px;
  padding-right: 15px !important;
}
.view-gallery .recommend-set .head-forthcoming-shoots{
  text-align: left;
}
.view-gallery .recommend-set .name{
  font-family: 'Myriad Pro Condensed';
  margin: 10px 0;
  font-size: 20px;
  color: #323232;
  text-transform: uppercase;
}

.name a {
  color: #323232;
}
.block-fastrack{
  margin-top: 10px;
}
.fastrack-text a{
  color: #fff;
  font-family: 'Myriad Pro Condensed';
  font-size: 20px;
  text-transform: uppercase;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 5px;
  text-decoration: none;
}
.fastrack-text a i{
  float: right;
  color: #fff;
  font-size: 20px;
  padding-right: 10px;
  padding-top: 5px;
}

.fastrack-text {
  padding: 10px;
  background-color: #323232;
}

.view-gallery-right{
  padding-top: 10px;
}

.bg-white .release-pic > img{
  padding: 0;
}

.content-comment{
  padding: 20px;
}

.bg-gray h5{
  float: left;
  font-size: 18px;
  font-family: bebas;
  color: #4C4C4C;
  margin: 0 0 40px 0;
}

.bg-gray h6{
  float: right;
  font-size: 20px;
  color: #4C4C4C;
  font-family: sans-serif;
  margin: 0;
}

.bg-gray h6 a{
  color: #4C4C4C;
  font-family: sans-serif;
}

.bg-gray h6 i{
  color: #F3194D;
  font-size: 24px;
  padding-right: 10px;
}

.content-comment .form-group{
  margin-bottom: 0;
}
.content-comment .form-group .right{
  margin-top: 15px;
  text-align: right;
}
.content-comment .form-group .right a{
  font-size: 18px;
  color: #4C4C4C;
}
.content-comment .form-group .right a:hover{
  text-decoration: none;
}
.content-comment .form-group .right i{
  padding-right: 10px;
  font-size: 24px;
}

#div_suggestForm{
  margin-bottom: 30px;
  display: none;
}

#div_suggestForm .form-group{
  padding: 0;
  margin: 0 -10px 10px;

}
#div_suggestForm .form-group label{
  padding-top: 5px;
  padding-left: 0;
  padding-right: 0;
}
#div_suggestForm .form-group .btn-pink-view{
  width: 40%;
  margin: 5px 5px 0 0px;
}

.formType .right{
  margin-top: 5px !important;
}

.formReport .right{
  margin-top: 0 !important;
}

.div_suggestButton {
  display: block;
}

#customgal-div {
  position: relative;
}

#customgal-div img {
  position: absolute;
  top: 3px;
  right: 3px;
  cursor: pointer;
}
.customgal-div-content{
  position: absolute;
  top: 0px;
  left: 20px;
  background-color: #ffffff;
  border: 1px solid #000000;
  z-index: 19;
  padding: 10px 20px;
  text-align: center;
}

.btn-action-cus-set {
  width: 150px;
  margin-top: 5px;
}
#captcha_value{width: 51%;}

.blockDownload{
  padding: 0;
  margin: 0 0 0 -15px;
}

.videoFAQS{
  color: #000;
  text-decoration: underline;
}

.titleVideoOption{
  font-family: 'Myriad Pro Condensed';
  color: #FB037E;
  font-size: 30px;
}

.iconDownload{
  padding: 0;
}

.iconDownload .first{  
  font-family: 'Myriad Pro Condensed';
  text-align: left;
}

.iconDownload .last{
  text-align: center;
  font-family: 'Myriad Pro Condensed';
  color: #FB037E;
  font-size: 30px;
}

.iconDownload i{
  font-size: 65px;
  color: #FB037E;
}

.rightBlockDownload{
  padding-left: 50px;
}

.rightBlockDownload a{
  color: #000;
}
.rightBlockDownload a:hover{
  text-decoration: none;
}
.rightBlockDownload a i{
  color: #FB037E;  
  padding-right: 8px;
}
.galleryVideo {
  background-color: #fff;
}

.view-gallery-img a img{
  padding: 0px;
  max-width: 119px !important;
}
.view-gallery-random-model{
  margin-left: -15px;
  padding-left: 45px;
}