.right{float: right;}
.view-images{
	font-family: bebas;
  	border-bottom: thick solid #EE008E;
  	word-spacing: 5px;
  	background-color: #fff;
  	line-height: 18px;
}
.view-images .left{
  	color: #EE008E;
  	font-size: 25px;
  	padding-left: 0px;
  	line-height: 37px;
}
.view-images .left i{
	padding-right: 5px;
}
.selectSize .blockpic{
  padding: 10px 0 10px 10px;
  max-width: 49px;
}

.selectSize img
.setsizeButton img{
  max-height: 49px !important;
  width: 100% !important;
}
.picSize{
  text-align: center;
  background-color: #fff;
}
.picSize img{
  width: 100%;
}

.title-back-gallery {
  font-size: 20px !important;
}

.title-back-gallery a {
  color: #EE008E;
}

.setsizeButton .blockpic{
  padding: 10px 0 10px 10px;
  max-width: 49px;
}

.picSize-view-images {
  text-align: center;
}

.picSize-view-images img {
  vertical-align: middle;
}
