.title-blue{
	font-size: 30px;  
	border-bottom: 3px solid #29A5C1;
}
.btn-forum{
	width: inherit;
}
.textNewTopic-pink{
	color: #fc0082;
	font-family: 'Myriad Pro Bold Condensed';
	font-size: 20px;
}