.allTable thead > tr > th.textBold-pink{
  font-size: 30px;
  font-family: 'Myriad Pro Bold Condensed';
  color: #ec008c;
  line-height: 30px;
}
.allTable thead > tr > th{
  border-bottom: 3px solid #ec008c;
}
.allTable tbody > tr > td .textBold-blue{
  font-size: 23px;
  color: #2ba3c0;
  font-family: 'Myriad Pro Bold Condensed';
  line-height: 23px;
  margin: 0;
}
.allTable tbody > tr > td .textBold-blue i{
  padding-left: 5px;
  padding-right: 5px;
}
.label-publicForum{
  background-color: #2ba3c1;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 0;
  border: 0;
  padding: 0px 5px;
}
.block-indicates i{
  padding-right: 5px;
}