<cfoutput>
	<div class="col-md-12 col-sm-12 col-xs-12">
		<cfif data.RecordCount GT 0>
			<form action="/index.cfm/model.view_gallery" method="get">
				<input type="hidden" name="URL.gallery_id" value="#URL.gallery_id#" />
				<input type="hidden" name="URL.CurrentPage" value="#URL.CurrentPage#" />
				Select custom set<br />
				<select name="customgal">
					<cfloop query="data">
						<option value="#data.customgal_id#">#data.customgal_name#</option>
					</cfloop>
				</select><br />
				<input class="voteSubmit" type="submit" value="Select set" /><br />
			</form>
		</cfif>
		<form action="/index.cfm/model.view_gallery?gallery_id=#URL.gallery_id#&CurrentPage=#URL.CurrentPage#&newCustGal=1" method="post">
			Create new custom set<br />
			<input name="newcustomgal_name" id="newcustomgal_name" type="text" /><br />
			<input class="voteSubmit" type="submit" value="Create set" />
		</form>
	</div>
</cfoutput>