<cfoutput>
<cfset str_model_display_name = rc.qrymodel.model_display_name>
<cfset str_model_shortcut = rc.qrymodel.model_shortcut>


<cfif StructKeyExists(session, "stc_model_link_suggest")>
	<cfset StructDelete(session, "stc_model_link_suggest")>
</cfif>

<cfset oService = createObject("component","model.services.Model")>
<cfset qry_modelLinks = oService.qry_modelLinks(str_model_shortcut,str_model_display_name)>


<div id="suggest-site" class="col-md-12 suggest-site view-gallery-suggest-site">
	<div class="panel-body left-side-gray-bg">
		<cfif qry_modelLinks.recordcount GT 0>
			<h3>#rc.qrymodel.model_display_name# ALSO APPEARS ON THE FOLLOWING SITES</h3>
			<cfloop query="qry_modelLinks">
				<cfset str_display = Iif(qry_modelLinks.CurrentRow GT 50, "'none'", "'block'")>
				<div id="div_otherSite_#qry_modelLinks.CurrentRow#" style="display:#str_display#;">
					<div>
						<a href="#qry_modelLinks.ml_affiliate_url#" target="_blank"><img src="http://www.porn-rewards.com/images/site_images/thumb2_#qry_modelLinks.sponsor_site_img_name#" class="img-responsive borderCCC" border="0" /></a>
					</div>
					<div class="clearfix"></div>
					<p>
						<a class="text-underline" href="#qry_modelLinks.ml_affiliate_url#" target="_blank"><b>#qry_modelLinks.sponsor_site_name#</b></a>
						<cfif qry_modelLinks.ml_model_name IS NOT "">
							<div class="textLeftModelItalic">(as #qry_modelLinks.ml_model_name#)</div>
						</cfif>
					</p>
				</div>
			</cfloop>
			<cfif qry_modelLinks.RecordCount GT 50>
				<div>
					<input type="Hidden" value="#qry_modelLinks.RecordCount#" id="hdModelLinkCount">
					<input id="div_otherSitesLabel" type="Button" value="Show More" class="searchButton width120" />
				</div>
			</cfif>
		</cfif>
		
		<p class="text-pink">Do You Know Of Another Site Where #rc.qrymodel.model_display_name# Appears?</p>
		<p class="text-normal-black">Tell us where else you've seen #rc.qrymodel.model_display_name# and you can win a fast-track</p>
		<div class="col-md-8 col-sm-8 col-xs-8 btn-view-area btn-suggest-modelSet div_suggestButton">
			<a href="" class="btn btn-success btn-pink-view no-border" id="div_suggestButton">Suggest Site</a>
		</div>
		<div id="div_suggestForm" class="col-md-12 col-sm-12 col-xs-12">
			<form action="/members/suggest_model_site.cfm" method="post" onsubmit="return valForm(this);">
				<input type="Hidden" name="model_id" value="#rc.qrymodel.model_id#">
				<input type="Hidden" name="model_name" value="#str_model_display_name#">
				<input type="Hidden" name="model_shortcut" value="#str_model_shortcut#">
				<input type="Hidden" name="gallery_id" value="#URL.gallery_id#">
				<div class="row form-group">
					<label class="col-sm-5 col-xs-5">Site name:</label>
					<input type="Text" name="site_name" value="" class="col-sm-7 col-xs-7">
				</div>
				<div class="row form-group">
					<label class="col-sm-5 col-xs-5">Site URL:</label>
					<input type="Text" name="site_url" value="" class="col-sm-7 col-xs-7">
				</div>
				<div class="row form-group">
					<label class="col-sm-5 col-xs-5">Model name:</label>
					<input type="Text" name="model_aka" value="if not #str_model_display_name#" class="col-sm-7 col-xs-7"  onfocus="clearField(this);">
				</div>
				<div class="row form-group">
					<input type="Submit" value="Add" class="btn btn-success btn-pink-view no-border">
					<input type="Button" value="Cancel" class="btn btn-success btn-pink-view no-border" id="btn-cancel-suggest">
				</div>
			</form>
		</div>
		<div class="clearfix"></div>
		<p class="text-normal-black">And don't forget, you can join these sites and earn points at <br><a href="http://www.porn-rewards.com/" target="_blank">Porn-Rewards.com</a></p>
		<p><a href="http://www.porn-rewards.com/" target="_blank"><img src="../images/200x50-pr.jpg" class="img-responsive width100percen" border="0"></a></p>
	</div>
</div>
</cfoutput>