<cfoutput>
<cfset request.layout = false>
<cfinclude template="/layouts/head.cfm">
<body>
    <img src="http://cdn.only-secretaries.com/images/xpromotion/tn1205876-u5VanHwc4v.jpg" atl="test image"/>
    <img src="http://cdn.only-secretaries.com/images/xpromotion/tn1205876-5DQMq2P4d8.jpg" atl="test image"/>
    <img src="http://cdn.only-secretaries.com/images/xpromotion/tn1205876-6ouXiLmnA9.jpg" atl="test image"/>
    <img src="http://cdn.only-secretaries.com/images/xpromotion/tn1205875-62k52ko87l.jpg" atl="test image"/>
    <img src="http://cdn.only-secretaries.com/images/xpromotion/tn1205875-46ajuifi3e.jpg" atl="test image"/>
</body>
</html>
</cfoutput>